// Sumome
// Fix zIndex overlapping issue with mobile menu & top button.

body .sumome-share-client-wrapper.sumome-share-client-wrapper-desktop-bottom-bar,
body .sumome-share-client-wrapper.sumome-share-client-wrapper-mobile-top-bar,
body .sumome-share-client-wrapper.sumome-share-client-wrapper-mobile-bottom-bar {
  z-index: 10;
}
