// Stacked container is a container without gutter.
.stacked-container {
  padding-right: 0;
  padding-left: 0;

  .row {
    margin-right: 0;
    margin-left: 0;

    > .paragraphs-items > [class^="col-"],
    > .paragraphs-items > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    > .entity[class^="col-"],
    > .entity[class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Margin bottom: 10px, 20px, 30px, 40px, 50px, 60px;
@for $i from 1 through 6 {
  .mb-#{10 * $i} {
    margin-bottom: 10px * $i;
  }
}

.marge-bas {
  margin-bottom: $grid-gutter-width;
}

.marge-bas--half {
  margin-bottom: ($grid-gutter-width / 2);
}

// Margin top: 10px, 20px, 30px, 40px, 50px, 60px;
@for $i from 1 through 6 {
  .mt-#{10 * $i} {
    margin-top: 10px * $i;
  }
}

.marge-haut {
  margin-top: $grid-gutter-width;
}

.marge-haut--half {
  margin-top: ($grid-gutter-width / 2);
}

// Padding bottom: 10px, 20px, 30px, 40px, 50px, 60px;
@for $i from 1 through 6 {
  .pb-#{10 * $i} {
    padding-bottom: 10px * $i;
  }
}

.pb-grid {
  margin-bottom: $grid-gutter-width;
}

.pb-grid--half {
  margin-bottom: ($grid-gutter-width / 2);
}

// Padding top: 10px, 20px, 30px, 40px, 50px, 60px;
@for $i from 1 through 6 {
  .pt-#{10 * $i} {
    padding-top: 10px * $i;
  }
}

.pb-grid {
  padding-top: $grid-gutter-width;
}

.pb-grid--half {
  padding-top: ($grid-gutter-width / 2);
}

// Margin: 10px, 20px, 30px, 40px, 50px, 60px;
@for $i from 1 through 6 {
  .mg-#{10 * $i} {
    margin: 10px * $i;
  }
}

.mg-grid {
  margin: $grid-gutter-width;
}

.mg-grid--half {
  margin: ($grid-gutter-width / 2);
}

// Padding: 10px, 20px, 30px, 40px, 50px, 60px;
@for $i from 1 through 6 {
  .pd-#{10 * $i} {
    padding: 10px * $i;
  }
}

.pd-grid {
  padding: $grid-gutter-width;
}

.pd-grid--half {
  padding: ($grid-gutter-width / 2);
}

