// @views
// Buttons
//
// sites/all/themes/%/scss/modules/modules/views/_buttons.scss
// -----------------------------------------------------------------------------

// View more link.
.view-more .more-link {
  text-align: center;
}

.view-more .more-link a {
  @extend %btn, %btn-lg, %btn-primary;
}
