// @views
// Views
//
// sites/all/themes/%/scss/modules/modules/views/_views.scss
// -----------------------------------------------------------------------------

.view-empty {
  text-align: center;
  margin-bottom: 20px;
}
