// @module
// sites/all/themes/%/scss/modules/modules/juicer/_filter.scss
// Juicer Filter
// -----------------------------------------------------------------------------

.juicer-feed ul.j-filters {
  align-items: flex-end;

  @include breakpoint(xs) {
    padding: 0;
    overflow: scroll;
    flex-wrap: nowrap;
  }

  li {
    transition: padding .3s linear;
    text-align: center;

    @include breakpoint(xs) {
      position: relative;
      text-indent: -100%;
      white-space: nowrap;
      overflow: hidden;
      width: auto;
      flex: 1;
      min-height: 40px;
    }

    &.selected,
    &.highlight {
      padding: 14px 10px;

      @include breakpoint(xs) {
        padding: 10px;
        text-indent: initial;
        flex-grow: 5;
        flex-shrink: 0;
      }

      &:before {
        @include breakpoint(xs) {
          position: relative;
        }
      }
    }

    &:before {
      @include breakpoint(xs) {
        position: absolute;
        right: 0;
        //left: 0;
        padding: 0 5px;
        flex-shrink: 0;
        flex-grow: 2;
      }
    }

    &:after {
      //  content: '';
      //  width: 100%;
      //  height: 100%;
      //  background: rgba(0, 0, 0, 0.3);
      //  bottom: 0;
      //  left: 0;
      //  position: absolute;
      display: none !important;
    }

    &:hover:after {
      //  display: block;
    }

  }
}
