// @component
// sites/all/themes/%/scss/layout/_header.scss
// Header
// -----------------------------------------------------------------------------

header .variant1 .vhm-menu ul li a {
  font-weight: 400;
  color: #fff;
}

.variant1 .vhm-menu .vhm-menu_search > form > div > div > div .form-submit {
  color: #fff;
}


.variant1 .vh-menus .block.search-form {
  margin-left: 15px;

  @include when-rtl() {
    margin-left: 0;
    margin-right: 15px;
  }
}