// Page Layout
// -----------------------------------------------------------------------------

.bg-turn {
  display: none;
}

/* disable orientation: landscape for mobile */
@media screen and (max-width: $screen-xs-max) and (orientation: landscape) {
  .touchevents body.interstitiel-mode {
    position: fixed;
    .bg-turn {
      display: block;
      background: url(../images/iphone-landscape@2x.png) no-repeat center center #fff;
      background-size: contain;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 99999;
      top: 0;
    }
  }
}

/* disable orientation: portrait for tablet */
@media screen and (min-width: $screen-xs-max) and (max-width: $screen-tablet) and (orientation: portrait) {
  .touchevents body.interstitiel-mode {
    position: fixed;
    .bg-turn {
      display: block;
      background: url(../images/ipad-portrait@1x.png) no-repeat center center #fff;
      background-size: contain;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 99999;
      top: 0;
    }
  }
}

.touchevents body.interstitiel-mode {
  .bg-turn {
    .close-interstitiel {
      cursor: pointer;
      position: absolute;
      top: 50px;
      right: 50px;
      font-size: 40px;
      color: $gray;
    }
  }
}
