// @layout
// Paragraphs
//
// sites/all/themes/%/scss/layout/_paragraphs.scss
// -----------------------------------------------------------------------------

.paragraphs-items .divider {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.paragraphs-items .divider--bordered {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px rgba(207, 207, 207, 0.2);
}

.paragraphs-items .push-first-element {
  margin-top: 40px;
}