// Helpers
// -----------------------------------------------------------------------------
// Variables
$icon_check-font-size: 20px;

// Sass Rules
.circler,
%circler {
  border-radius: 50%;
}

// Customized checkbox placeholder for extends uses
%cb-custom {
  &:before, &:after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    border-radius: 50%;
    border: 1px solid rgba(146, 157, 171, 0.6);
  }
}

.active, :checked +, .selected {
  %cb-custom {
    @extend %icon, .icon-check;

    &:before {
      z-index: 2;
      border: 0;
      //line-height: 22px;
      color: $brand-primary; //$gray-lighter;
      font-size: $icon_check-font-size; //10px;
      //text-align: center;
    }
    &:after {
      border: 0;
      // border-color: $brand-primary;
      // background-color: $brand-primary;
    }
  }
}

%cb-default, .cb-default {
  position: relative;
  padding-left: 30px;
  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
  }
  &:before {
    top: 0; //50%;
    border-radius: 2px;
    border: solid 1px $gray; //#979797;
  }
  &:after {
    top: 4px;
    left: 1px;
    font-size: 10px;
  }
  :checked + &:after {
    @extend %icon; // change it to place holder
    content: $icon-close; //"\e909"; // icon-check
    color: $gray-lighter;
  }
  :checked + &:before {
    background-color: $brand-primary;
  }
}

// Customized checkbox placeholder for extends uses
%rb-custom {
  @extend %cb-custom;
  &:before, &:after {
    right: auto;
    left: 0;
    top: 0;
    transform: none;
  }
}

%rb-custom-wrapper {
  input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;
    -webkit-appearence: none;
  }
  label {
    padding-left: 30px;
    text-transform: none;
  }
}

// Custom scroll bar
.b-scroll-list,
%custom-scrollbar {
  ::-webkit-scrollbar,
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee; //$gray-light;
    //-webkit-box-shadow: inset 0 0 6px rgb(74, 43, 38);
  }

  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $brand-primary;
    //-webkit-box-shadow: inset 0 0 6px rgb(193, 112, 100);
  }
}

// block wrapper box
.box-wrapper,
%box-wrapper {
  border-top: 1px solid transparent;
  margin: 16px -15px 0;
  padding: 28px 40px; // 28px 24px;//0 33px 33px;
  background-color: $gray-lighter;
  &.bordered {
    margin-right: 0;
    margin-left: 0;
    border: 1px solid $gray-dark;
  }
  > h2 {
    margin-top: -6px;
    margin-bottom: 22px;
  }
  @media (min-width: $screen-sm-min) {
    margin: 16px 0 0;
    padding: 33px;
  }
}

// Inline blocks
.inline-blocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.align-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}