// Typography
// -----------------------------------------------------------------------------
// @import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700");

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.text-semibold {
  font-weight: $font-weight-bold;
}

.text-bold {
  font-weight: $font-weight-semi-bold;
}

.text-small {
  font-size: $font-size-small;
}

.text-light,
%text-light {
  font-weight: 300;
  color: $gray;
}

// Views Heading.
h2.view-title::after {
  content: "";
  width: 70px;
  border-bottom: 4px solid $gray-lighter;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

h2.view-title {
  @include container-fixed();

  position: relative;
  padding-bottom: 20px;
  margin-bottom: 60px;
  margin-top: 50px;

  @include breakpoint(xs) {
    margin-bottom: 30px;
    margin-top: 25px;
  }
}
