// @component
// sites/all/themes/%/scss/modules/modules/hamburger/_hamburger.scss
// Hamburger
// -----------------------------------------------------------------------------

// @see: sites/all/themes/%/bower_components/css-hamburgers/_sass/hamburgers
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}
