// @mixin
// Buttons
//
// sites/all/themes/%/scss/mixins/_buttons.scss
// -----------------------------------------------------------------------------

// Buttons
//variables
$button_icon_padding: 45px;

%btn-icon-left {
  padding-left: $button_icon_padding !important;
  &:before {
    left: 12px;
  }

  @include when-rtl() {
    padding-right: $button_icon_padding !important;
    padding-left: $padding-base-horizontal !important;

    &:before {
      left: auto;
      right: 12px;
    }
  }
}

%btn-icon-right {
  padding-right: $button_icon_padding !important;

  &:before {
    right: 12px;
  }

  @include when-rtl() {
    padding-right: $padding-base-horizontal !important;
    padding-left: $button_icon_padding !important;
    &:before {
      right: auto;
      left: 12px;
    }
  }

}

// Sass Rules
// Button with icon
@mixin btn-icon($icon, $size: 26px, $position: "left") {
  //@extend %btn; // instead of extend it use both classes btn and btn-icon

  &.btn-icon-left {
    @extend %btn-icon-left;

    @include when-rtl() {
      @extend %btn-icon-right;
    }
  }

  &.btn-icon-right {
    @extend %btn-icon-right;

    @include when-rtl() {
      @extend %btn-icon-left;
    }
  }

  &:before {
    @extend %icon;
    content: $icon;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    font-size: inherit; //$size;
    transition: transform .4s ease-out;
  }

  &:hover {
    &:before {
      color: inherit;//$brand-primary;
      transition: color .3s ease-out;
    }
  }

  &.inverted {
    &:hover {
      &:before {
        color: $gray-lighter;
        @include transition(color .3s ease-out);
      }
    }
  }
}

// Icons
@mixin shape-icon($icon, $shape: 'rounded', $filled: false, $bgcolor: transparent, $bd: 0, $size: 26px) {
  @if $filled {
    //
  }
  @if $shape == "" {
    //
  }
}

// Button sizes
@mixin _button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal !important;
  font-size: $font-size !important;
  line-height: $line-height !important;
  border-radius: $border-radius !important;
}
