// @mixin
// Form
//
// sites/all/themes/%/scss/mixins/_form.scss
// -----------------------------------------------------------------------------

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.form-control--reversed,
%form-control--reversed {
  background: transparent !important;
  border-color: #FFF !important;
  color: #FFF !important;

  @include input-placeholder() {
    color: #FFF !important;
  }
}
