// @mixin
// Grid
//
// sites/all/themes/%/scss/mixins/_grid.scss
// -----------------------------------------------------------------------------

@mixin row-make-equal-height() {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $screen-sm) {
    display: block;
  }

  > div {
    display: flex;
    @include if-ie() {
      flex-direction: column;
    }
  }

  &:before {
    display: none;
  }

}

@mixin container() {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}
