// @mixin
// RTL
//
// sites/all/themes/%/scss/mixins/_rtl.scss
// -----------------------------------------------------------------------------


// @Deprecated, use @rtl instead.
@mixin when-rtl() {
  html[dir=rtl] & {
    @content;
  }
}

@mixin rtl() {
  html[dir=rtl] & {
    @content;
  }
}