// @mixin
// Typo
//
// sites/all/themes/%/scss/mixins/_typo.scss
// -----------------------------------------------------------------------------

%heading-text {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

%heading-text-small {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}
