/* === VARIABLES === */
$vf1-links-color: #d8d8d8 !default;
$vf1-links-color-alt: $brand-secondary !default;
$vf1-overlay-primary: #202629 !default;
$vf1-overlay-secondary: #1e2123 !default;
$vf1-text-color: #FFF !default;

.vf-footer-variant1 {

  .vf-footer {

    &__layout {

      .nav {
        display: flex;
        justify-content: center;

        @media screen and (max-width: $screen-sm) {
          flex-direction: column;
          justify-content: flex-start;
        }

        > li {
          > a {
            text-transform: capitalize;
            font-size: 1.1em;
            line-height: normal;
            color: $vf1-text-color;
            position: relative;
            transition: color .3s;

            &:hover, &:focus {
              color: $brand-secondary;
              background-color: transparent;
            }
          }
        }
      }

      &__primary-menu {
        background-color: $gray-light;
        padding: 1.5em 0;

        .menu {
          @extend .container
        }

      }

      &__secondary-menu {
        background-color: $vf1-overlay-primary;
        border-top: 1px solid $vf1-overlay-secondary;
        padding: .5em 0;

        .nav {
          > li {
            > a {
              font-size: 14px;
            }
          }
        }

        .menu {
          @extend .container;
        }
      }
    }
  }
}
