/* === VARIABLES === */
$vf2-links-color: #d8d8d8 !default;
$vf2-links-color-alt: $brand-secondary !default;
$vf2-overlay-primary: $primary-lighter !default;
$vf2-overlay-secondary: $primary-lighter !default;
$vf2-overlay-tertiary: $primary-lighter !default;
$vf2-text-color: #FFF !default;

/* === COMPONENTS === */
.vf-footer-variant2 {
  color: $vf2-text-color;

  .nav > li > a {
    color: $vf2-links-color;
    transition: color .3s ease;

    &:hover,
    &:focus {
      color: $vf2-links-color-alt;
      background: none;
      text-decoration: none;
    }
  }

  .vf-footer__layout {
    @extend .container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 0;

    @media screen and (max-width: $screen-sm) {
      padding: 1em;
      flex-direction: column;
      align-items: flex-start;
    }

  }

  .vf-footer {
    &__top {
      background-color: $vf2-overlay-primary;
    }

    &__middle {
      background-color: $vf2-overlay-secondary;
      box-shadow: 0px -3px 2px rgba(41, 45, 47, 0.71);
    }

    &__bottom {
      background-color: $vf2-overlay-tertiary;
    }
  }

  // Logo.
  #logo {
    float: none;

    img {
      max-height: 100px;
    }

    @media screen and (max-width: $screen-sm) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  // Menus.
  .block-menu {
    > .block__content {
      > .menu-wrapper {
        > .menu {
          display: flex;
          flex-wrap: wrap;

          &::before,
          &::after {
            display: none;
          }

          @media screen and (max-width: $screen-sm) {
            flex-direction: column;
            align-items: flex-start;
          }

        }
      }
    }

    // Mega menu

    &.vf-mega-menu {
      width: 100%;
      > .block__content > .menu-wrapper > .menu > li {
        flex: 1;

        &:not(:last-child) {
          margin-right: 1.5em;
        }

        > a {
          font-weight: bold;
          color: $vf2-text-color;
          font-size: 1.4em;
          padding: 10px 15px 10px 0;
        }

        a {
          padding: 6px 6px 6px 0;
          display: flex;
          align-items: center;
        }

        .caret {
          display: none;
        }

        ul {
          a {
            &::before {
              content: "■";
              margin-right: 10px;
              font-size: 11px;
            }
          }
        }

        ul {
          ul {
            padding-left: 1.6em;

            a {
              &::before {
                content: "●";
              }
            }

            ul {
              padding-left: 1.6em;
            }
          }
        }
      }
    }
  }

}
