.block-social-media-links {
  margin-left: 15px;

  @include when-rtl() {
    margin-left: 0;
    margin-right: 15px;
  }
}

.block-social-media-links li a {
  color: $brand-secondary;
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}
