$icomoon-font-path: "../fonts/vactory" !default;
$icon-vactory-font-size : 26px !default;

$icon-cloud_download: "\e96a";
$icon-arrow_back: "\e96b";
$icon-arrow_forward: "\e96c";
$icon-quote-right: "\e968";
$icon-quote-left: "\e969";
$icon-download_link: "\e964";
$icon-comment: "\e965";
$icon-forum: "\e966";
$icon-paper-clip: "\e967";
$icon-video-camera: "\e960";
$icon-photo-camera: "\e961";
$icon-file-archive-o: "\e94b";
$icon-file-audio-o: "\e94c";
$icon-file-code-o: "\e94d";
$icon-file-excel-o: "\e94e";
$icon-file-image-o: "\e94f";
$icon-file-movie-o: "\e950";
$icon-file-o: "\e951";
$icon-file-pdf-o: "\e952";
$icon-file-photo-o: "\e953";
$icon-file-picture-o: "\e954";
$icon-file-powerpoint-o: "\e955";
$icon-file-sound-o: "\e956";
$icon-file-text-o: "\e957";
$icon-file-text: "\e958";
$icon-file-video-o: "\e959";
$icon-file-word-o: "\e95a";
$icon-file-zip-o: "\e95b";
$icon-file: "\e95c";
$icon-files-o: "\e95d";
$icon-caret-down: "\e945";
$icon-caret-left: "\e946";
$icon-caret-right: "\e947";
$icon-caret-up: "\e948";
$icon-control-panel: "\e963";
$icon-calendar: "\e962";
$icon-envelope-o: "\e95e";
$icon-envelope: "\e95f";
$icon-camera: "\e949";
$icon-picture-o: "\e94a";
$icon-download: "\e943";
$icon-check: "\e944";
$icon-user: "\e900";
$icon-phone: "\e901";
$icon-heart: "\e902";
$icon-close: "\e903";
$icon-close-circle-flat: "\e904";
$icon-close-flat: "\e905";
$icon-close-circle: "\e906";
$icon-close-spaced: "\e907";
$icon-close-spaced-flat: "\e908";
$icon-chevron-right-flat: "\e909";
$icon-chevron-left-flat: "\e90a";
$icon-chevron-right-flat--circle: "\e90b";
$icon-chevron-left-flat--circle: "\e90c";
$icon-arrow-right-flat--circle: "\e90d";
$icon-arrow-left-flat--circle: "\e90e";
$icon-arrow-right-flat: "\e90f";
$icon-arrow-left-flat: "\e910";
$icon-chevron-right: "\e911";
$icon-chevron-left: "\e912";
$icon-chevron-right-circle: "\e913";
$icon-arrow-preview: "\e914";
$icon-arrow-right--circle: "\e915";
$icon-arrow-left--circle: "\e916";
$icon-arrow-right: "\e917";
$icon-arrow-left: "\e918";
$icon-search: "\e919";
$icon-search-bolder: "\e91a";
$icon-search-bold: "\e91b";
$icon-search-spaced: "\e91c";
$icon-search-light-spaced: "\e91d";
$icon-search-lightest: "\e91e";
$icon-behance: "\e91f";
$icon-blogger: "\e920";
$icon-dailymotion: "\e921";
$icon-dribbble: "\e922";
$icon-drive: "\e923";
$icon-dropbox: "\e924";
$icon-drupal: "\e925";
$icon-evernote: "\e926";
$icon-facebook: "\e927";
$icon-github: "\e928";
$icon-googleplus: "\e929";
$icon-hangouts: "\e92a";
$icon-instagram: "\e92b";
$icon-linkedin: "\e92c";
$icon-messenger: "\e92d";
$icon-pinterest: "\e92e";
$icon-pocket: "\e92f";
$icon-rss: "\e930";
$icon-snapchat: "\e931";
$icon-souncloud: "\e932";
$icon-spotify: "\e933";
$icon-tumblr: "\e934";
$icon-twitter: "\e935";
$icon-vimeo: "\e936";
$icon-whatsapp: "\e937";
$icon-youtube: "\e938";
$icon-burger-menu-bolder: "\e939";
$icon-burger-menu: "\e93a";
$icon-burger-menu-middle: "\e93b";
$icon-burger-menu-stairs: "\e93c";
$icon-burger-menu-narrow: "\e93d";
$icon-burger-menu-narrow-middle: "\e93e";
$icon-burger-menu-narrow-stairs: "\e93f";
$icon-burger-menu-narrow-bold-flat: "\e940";
$icon-burger-menu-thin: "\e941";
$icon-burger-menu-lighter: "\e942";
