// @component
// Article Details
// -----------------------------------------------------------------------------

.article-details {
}

//== Thumbnail
.article-details__poster {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
}

.article-details__poster img {
  @extend .img-responsive;
  transition: opacity .4s, transform .4s;
  margin: 0 auto;
}

//== Meta infos
.article-details-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

//== Tags
.article-details__tags {
  margin-right: 1em;
}

.article-details__tags .field-item {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: $brand-primary;
  text-transform: uppercase;
  cursor: default;
  margin: 5px;
  color: $tags-text-color;

  // In case we have anchor.
  a {
    background-color: $brand-primary;
    color: $tags-text-color;
  }
}

.article-details__tags .field-item:first-child {
  margin-left: 0;
}

//== Date
.article-details__date .field-item {
  display: inline-block;
}

.article-details__date .field-item:last-child {
  margin-right: 10px;
}

.article-details__date .field-item span {
  @extend .small;
  color: $gray-light;
  margin-bottom: 10px;
}

//== Body
.article-details__body p:last-child {
  margin-bottom: 0;
}
