// @component
// Article Card
// -----------------------------------------------------------------------------

//== Article Card
.article-card {
  transition: .6s ease;
  //  text-align: center;
  margin-bottom: $grid-gutter-width;
  display: flex;
  flex-direction: column;
  width: 100%;
}

//== Thumbnail
.article-card__thumbnail {
  position: relative;
  overflow: hidden;
  background-color: $gray-base;
  min-height: 150px;
}

.article-card__thumbnail a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; // @todo: #browsers_check
}

.article-card__thumbnail picture {
  display: block;
}

.article-card__thumbnail img {
  @extend .img-responsive;
  transition: opacity .4s, transform .4s;
  margin: 0 auto;
}

.article-card:hover {
  .article-card__thumbnail img {
    opacity: 0.7;
    transform: scale(1.15);
  }
  .article-card__title,
  .article-card__title > a {
    text-decoration: underline;
  }
  .permalink {
    background-color: $brand-primary;
    color: $gray-lighter;
    border-color: $brand-primary;
  }
}

//== Content
.article-card__content {
  padding: 1em 1em 1.5em 1em;
  border: 1px solid $gray-lighter;
  border-top: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

//.article-card__hr {
//  width: 20%;
//  margin: 1em auto;
//  border: 0;
//  border-bottom: 1px solid $gray-lighter;
//}

//== Tags
.article-card__tags {
  margin: 4px 0 7px 0;
}

.article-card__tags .field-item {
  display: inline-block;
  border-radius: 0;
  padding: 2px 6px;
  font-size: 11px;
  background-color: #4a4a4a;
  text-transform: uppercase;
  cursor: default;
  margin-bottom: 5px;
  color: $tags-text-color;

  // In case we have anchor.
  a {
    background-color: #4a4a4a;
    color: $tags-text-color;
  }
}

.article-card__tags .field-item:not(:last-child) {
  margin-right: 2px;
}

//== Date
.article-card__date {
  margin: 4px 0 7px 8px;
  display: flex;
  align-items: center;

  @include when-rtl() {
    margin: 4px 8px 7px 0;
  }
}

.article-card__date .field-item {
  display: inline-block;
}

.article-card__date .field-item:not(:last-child) {
  margin-right: 2px;
}

.article-card__date .field-item span {
  @extend .small;
  color: $gray-light;
  //margin-bottom: 10px;
}

//== Title
.article-card__title {
  @extend %heading-text-small;
  display: block;
}

.article-card__title,
.article-card__title > a {
  display: block;
  font-size: 2.6rem;
  color: $text-color;
  letter-spacing: 1px;

  // &:hover {
  //   text-decoration: $link-hover-decoration;
  // }
}

//== Excerpt
.article-card__excerpt p {
  color: $text-color;
}

//== Permalink
.article-card__permalink {
  margin-top: auto;
  padding-top: 1em;
}

.article-card__permalink a {
  @extend %btn, %btn-primary;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the article.

//== Thumbnail
// USAGE!!! .article-card__thumbnail > .article-card__tags
.article-card__tags.pinned {
  position: absolute;
  bottom: 0;
  left: 0;

  @include _when-rtl() {
    left: auto;
    right: 0;
  }
}

.article-card__tags.pinned .field-item {
  border-radius: 0;
  margin-bottom: 0;
}

//== Hover State.
.article-card {
  &:hover {
    box-shadow: 0 5px 10px rgba(50, 50, 90, 0.1), 0 2px 8px rgba(0, 0, 0, 0.07);
    transform: translateY(-1px);
  }
}

//== Horizontal Layout.
// @Note: this variant is only available for Desktop.
@include breakpoint(desktopOnly) {
  //@media (min-width: $screen-xs-max) {
  .article-card.inline-layout {
    flex-direction: row;
  }

  .article-card.inline-layout .article-card__thumbnail,
  .article-card.inline-layout .article-card__content {
    width: 50%;
  }

  .article-card.inline-layout .article-card__content {
    justify-content: center;
    //    align-items: center;
    padding: 1.2em;
    border: 1px solid $gray-lighter;
    border-left: 0;

    @include _when-rtl() {
      border: 1px solid $gray-lighter;
      border-right: 0;
    }
  }

  .article-card.inline-layout .article-card__permalink {
    margin-top: .5em;
  }

  .article-card.inline-layout.inline-layout--reversed .article-card__content {
    order: -1;
    border: 1px solid $gray-lighter;
    border-right: 0;

    @include _when-rtl() {
      border: 1px solid $gray-lighter;
      border-left: 0;
    }
  }

  //  .article-card.inline-layout:hover {
  //    box-shadow: 6px 6px 0 0 $gray-lighter;
  //  }
}

//== Narrow card.
// @Note: this variant is only available for Desktop.
@media (min-width: $screen-xs-max) {
  .article-card.is-narrow .article-card__title,
  .article-card.is-narrow .article-card__title > a {
    font-size: 1.6rem;
    line-height: normal;
    margin: 0;
  }

  .article-card.is-narrow .article-card__date {
    margin-bottom: 10px;
  }
}

//== Thumbnail as background image.
// Using a bit of
@media (min-width: $screen-xs-max) {
  .article-card.use-background-thumbnail {
  }

  .article-card.use-background-thumbnail .article-card__thumbnail a {
    background-size: cover;
    background-position: center center;
    transition: opacity .4s, transform .4s;

    &:hover {
      opacity: 0.7;
      transform: scale(1.15);
    }
  }

  .article-card.use-background-thumbnail .article-card__thumbnail picture {
    display: none;
  }
}

//== IE FIX
@include if-ie() {
  .article-card.inline-layout .article-card__content > * {
    width: 100%;
  }

  .article-card {
    height: calc(100% - #{$grid-gutter-width}); // Fix equal height issue.
    flex-shrink: 0; // Fix shrink issue.
  }

  .article-card.use-background-thumbnail {
    height: auto;
  }

  // ?????
//  @media (max-width: $screen-xs-max) {
//    height: auto;
//  }

}
