// @page
// Search
//
// sites/all/themes/%/scss/pages/search/_search.scss
// -----------------------------------------------------------------------------

.page-search {
  .search-results.node-results {
    padding-left: 0;
    padding-right: 0;

    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px rgba(207, 207, 207, 0.2);

    clear: both;
  }

  .search-results .search-snippet-info {
    padding-left: 0;
    padding-right: 0;
  }

  .search-results .search-info {
    margin-top: 11px;
    text-align: right;
  }

  .search-results li {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: solid 1px rgba(207, 207, 207, 0.2);
  }

  #content .search-form {
    float: right;

    @include breakpoint(xs) {
      float: none;
    }

    @include when-rtl() {
      float: left;
    }

    .form-text {
      margin-left: 10px;

      @include when-rtl() {
        margin-left: 0;
        margin-right: 10px;
      }

      @include breakpoint(xs) {
        margin-left: 0;
        margin-right: 0;
      }

    }
  }

  .search-count {
    height: ($input-height-base + 8);
    display: flex;
    align-items: center;
  }
}
