[class*="view-vactory-gen-vactory-"] {
  margin-bottom: $line-height-computed;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }

  //== Equal Height
  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    height: auto;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }
}
