// @component
// Breadcrumb
//
// sites/all/themes/%/scss/components/_breadcrumb.scss
// -----------------------------------------------------------------------------

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0; // .container > .row > col-md-12 should fix this.
}

.breadcrumb a:not(.active) {
  font-weight: 100;
}

.breadcrumb a.active {
  color: $brand-primary;
}

.block.block-vactory-menu-breadcrumb.block-- {
  background: #efefef;
  margin-bottom: $line-height-computed;

  @include breakpoint(xs) {
    display: none;
  }
}
