// @component
// Button
//
// sites/all/themes/%/scss/components/_buttons.scss
// -----------------------------------------------------------------------------

/** Config btn **/
$bt_background: $brand-primary;
$bt_border: 1px solid $brand-primary;
$bt_border_radius: $btn-border-radius-base;

// Button Shape
$_btn_border_width: 2px;
$_btn_border_radius: 0;
$_btn_transition: all .3s ease-in;
$_btn_font_weight: 500;

// Buttons colors
// --------------------------------------------------

// Primary
$_btn_primary_background: #FFF;
$_btn_primary_border: #000;
$_btn_primary_text: #000;

// Primary Reversed
$_btn_primary_background_reversed: $brand-primary;
$_btn_primary_border_reversed: $brand-primary;
$_btn_primary_text_reversed: #FFF;

// Secondary
$_btn_secondary_background: transparent;
$_btn_secondary_border: #FFF;
$_btn_secondary_text: #FFF;

// Secondary Reversed
$_btn_secondary_background_reversed: #FFF;
$_btn_secondary_border_reversed: #FFF;
$_btn_secondary_text_reversed: #000;

// Buttons colors states: hover, active
// --------------------------------------------------

// Primary
$_btn_primary_background_alt: $brand-primary;
$_btn_primary_border_alt: $brand-primary;
$_btn_primary_text_alt: #FFF;

// Primary Reversed
$_btn_primary_background_alt_reversed: $brand-primary;
$_btn_primary_border_alt_reversed: $brand-primary;
$_btn_primary_text_alt_reversed: #FFF;

// Secondary
$_btn_secondary_background_alt: #FFF;
$_btn_secondary_border_alt: #FFF;
$_btn_secondary_text_alt: #000;

// Secondary Reversed
$_btn_secondary_background_alt_reversed: $brand-primary;
$_btn_secondary_border_alt_reversed: $brand-primary;
$_btn_secondary_text_alt_reversed: #FFF;

// Override .btn bootstrap class
.btn, %btn {
  position: relative;
  text-decoration: none;
  outline: none;
  border: 1px solid transparent;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  // Overrides
  border-width: $_btn_border_width;
  border-radius: $_btn_border_radius;
  transition: $_btn_transition;
  font-weight: $_btn_font_weight;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 10px;
    & + .btn {
      margin-right: 0;
    }
  }
}

// Button Variants
// --------------------------------------------------
.btn-primary,
%btn-primary {
  background-color: $_btn_primary_background;
  color: $_btn_primary_text;
  border-color: $_btn_primary_border;

  &:hover, &:active, &.active {
    background-color: $_btn_primary_background_alt;
    color: $_btn_primary_text_alt;
    border-color: $_btn_primary_border_alt;
  }
}

.btn-primary--reversed,
%btn-primary--reversed {
  background-color: $_btn_primary_background_reversed;
  color: $_btn_primary_text_reversed;
  border-color: $_btn_primary_border_reversed;

  &:hover, &:active, &.active {
    background-color: $_btn_primary_background_alt_reversed;
    color: $_btn_primary_text_alt_reversed;
    border-color: $_btn_primary_border_alt_reversed;
  }
}

.btn-secondary,
%btn-secondary {
  background-color: $_btn_secondary_background;
  color: $_btn_secondary_text;
  border-color: $_btn_secondary_border;

  &:hover, &:active, &.active {
    background-color: $_btn_secondary_background_alt;
    color: $_btn_secondary_text_alt;
    border-color: $_btn_secondary_border_alt;
  }
}

.btn-secondary--reversed,
%btn-secondary--reversed {
  background-color: $_btn_secondary_background_reversed;
  color: $_btn_secondary_text_reversed;
  border-color: $_btn_secondary_border_reversed;

  &:hover, &:active, &.active {
    background-color: $_btn_secondary_background_alt_reversed;
    color: $_btn_secondary_text_alt_reversed;
    border-color: $_btn_secondary_border_alt_reversed;
  }
}

// Button Sizes
// --------------------------------------------------

.btn-lg,
%btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include _button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}

.btn-sm,
%btn-sm {
  // line-height: ensure proper height of button next to small input
  @include _button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.btn-xs,
%btn-xs {
  @include _button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

// Button With Icons
// --------------------------------------------------
.has-right-icon {
  padding-right: 45px !important;

  @include when-rtl() {
    padding-left: 45px !important;
  }
}

.btn-icon {
  &.download {
    @include btn-icon($icon-drive);
  }
  &.search {
    @include btn-icon($icon-search);
  }
  &.arrow-preview {
    @include btn-icon($icon-arrow-left);
  }
  &.arrow-next {
    @include btn-icon($icon-arrow-forward);
  }
}

%more-link,
.btn-permalink,
%permalink {
  @extend .btn, %btn-icon-right;
  @include btn-icon($icon-arrow-right);

  transition: all .3s ease-in;

  &:hover {
    color: $brand-primary;
    //    transition: all .3s ease-out;
    &:before {
      transition: transform .4s ease-in;
      transform: translateX(6px) translateY(-50%);

      @include when-rtl() {
        transform: translateX(-6px) translateY(-50%);
      }

    }
  }
}

%permalink {
  @extend .btn-link;
}

%more-link {
  @extend .btn-primary;
  &:hover {
    &:before {
      color: inherit;
    }
  }
}

.btn-link {
  &.underlined {
    text-decoration: underline;
  }
}

.go-top {
  z-index: 999999;
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1.5em;
  display: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

