// @component
// Cookie Layer
//
// sites/all/themes/%/scss/components/_cookie-layer.scss
// -----------------------------------------------------------------------------


// Variables
// --------------------------------------------------
$ck_background : $brand-primary;
$ck_fontsize : 18px;
$ck_lineheight: 26px;


// Components
// --------------------------------------------------
#sliding-popup {
  &.sliding-popup-bottom {
    padding: 22px 0 18px;
    background: $ck_background;
    @media (max-width: $screen-xs-max){
      padding: 5px 0 10px;
    }
  }
  .popup-content {
    @include clearfix;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $screen-sm-max){
      display: block;
    }
    #popup-text {
      @media (max-width: $screen-md-max){
        padding-right: 10px;
      }
      @media (max-width : $screen-sm-max){
        width: 100%;
        max-width: 100%;
        float: none;
        text-align: center;
      }
      p {
        font-size: $ck_fontsize;
        line-height: $ck_lineheight;
        font-family: $font-family-sans-serif;
        @media (max-width: $screen-xs-max){
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
    #popup-buttons {
      @media (max-width : $screen-sm-max){
        width: 100%;
        max-width: 100%;
        float: none;
      }
      button {
        @extend .btn;
        padding: 9px 25px;
        margin: 10px 8px 5px;
        min-width: 180px;
        &:after {
          margin-left: 10px;
        }
      }
    }
  }
}
