// Bootstrap dropdown
// Variables
$dropdown-btn-padding-top: 6px;
//8px;
$dropdown-btn-padding-bottom: 6px;
//8px;
// rules
.bootstrap-select {
  .dropdown-toggle {
    font-size: 0;
    //max-height: 30px; //@Fix for mozilla
    padding: $dropdown-btn-padding-top 14px $dropdown-btn-padding-bottom 12px;
    &.btn {
      margin-bottom: 0;
    }
    &.error {
      border: 1px solid $brand-danger !important;
      color: $brand-danger;
    }
    &, &:focus:active {
      background-color: #FFF;
      color: #000;
      border-color: #000;
    }
    > * {
      font-size: initial; //$font-size-small;//initial;
    }
    &:focus {
      outline: none !important;
    }
  }
  &.open {
    > .dropdown-toggle {
      &.btn-default {
        &, &:focus {
          background-color: #FFF;
          color: #000;
          border-color: #000;
        }
      }
    }
  }
  &.btn-group {
    .dropdown-toggle {
      .filter-option {

      }
    }
  }
  &.btn-group {
    .dropdown-menu {
      border-radius: 0;
      border: 2px solid #000;
      padding: 0;
    }
  }
  &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
  }
  .dropdown-menu {
    margin: 6px 0 0;
    font-size: $font-size-small;
    li {
      padding: 0;
      &.selected a, a:hover {
        background-color: $brand-primary;
        color: #FFF;
      }
      a {
        padding: 6px 20px;
        font-size: 15px;
        font-weight: 400;
      }
      a:focus {
        outline: none;
      }
    }
  }

  button {
    color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 14px;
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  }

  .bs-caret {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include when-rtl() {
      margin-left: 0;
      margin-right: 10px;
    }

    &:before {
      @extend %icon;
      content: $icon-chevron-right-flat;
      transform: rotate(90deg);
      display: inline-block;
      font-size: 15px;
    }

    .caret {
      display: none;
    }
  }
}

.bootstrap-select .dropdown-menu li {
  @include when-rtl() {
    text-align: right;
  }
}

// multi select
// .dropdown-multiple{
select[multiple="multiple"] + .btn-group {
  .multiselect-selected-text, span.filter-option {
    font-size: 16px;
    color: $gray;
    white-space: normal;
    font-weight: normal;
  }
  .caret {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
  }
  button:hover,
  &.open button,
  &.open .btn-default.dropdown-toggle:hover,
  &.open .btn-default.dropdown-toggle:focus,
  &.open .btn-default.dropdown-toggle {
    background-color: $gray-lighter;
    color: $gray;
  }
  button {
    border-color: $input-border;
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
    text-align: left;
    @media (max-width: $screen-sm) {
      padding-left: 10px;
    }
  }
  &.open button {
    border-radius: 4px 4px 0 0;
  }
  .dropdown-menu {
    width: 100%;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 5px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    li {
      border-bottom: 1px solid $gray-dark;
      a {
        padding-top: 11px;
        padding-bottom: 11px;
        outline: 0;
        label, span.text {
          color: $gray-light;
          padding-left: 0;
          padding-right: 0;
          white-space: normal;
          font-weight: normal;
          font-size: 16px;
          text-transform: none;
          input {
            float: right;
            position: relative;
            margin-left: 40px;
          }
        }
      }
    }
    li.active, li.selected {
      a {
        background-color: $gray-lighter;
        color: $gray;
        label, span.text {
          color: $gray;
        }
      }
      label {
        color: $gray;
      }
    }
    li:last-child {
      border-bottom: 0;
    }
  }
  // .btn-group,
  & {
    width: 100%;
    > .btn {
      float: none;
    }
  }
  .dropdown-toggle {
    padding-top: $dropdown-btn-padding-bottom;
    padding-bottom: $dropdown-btn-padding-bottom;
  }
  [type="checkbox"] {
    z-index: -1;
    opacity: 0;
  }
  label.checkbox {
    @extend %cb-custom;
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }
  & {
    min-width: 200px;
    max-width: 480px;
  }
  @media (max-width: $screen-sm-max) {
    & {
      max-width: 100%;
    }
  }
}
