// Styles for fields.
// -----------------------------------------------------------------------------
.inline-item{
	display: inline-block;
}

/* Style Tag */
.item-tags{
	margin-bottom: 5px;
	div[class^=field-type]{
		display: inline-block;
		margin-right: 5px;
	}
	.field-item {
		display: inline-block;
	    margin-bottom: 0;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    padding: 2px 6px;
	    font-size: $font-size-small;
	    line-height: $line-height-base;
	    border-radius: $border-radius-base;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background: $brand-secondary;
	    color: #fff;
	}
}
.item-date{
	margin-bottom: 5px;
}
/* date Style */
.date-display-single {
	font-size: $font-size-small;
	color: $brand-secondary;
	display: inline-block;
}
