// lists
%default-list {
  list-style: none;
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      content: "•";
      color: $brand-primary;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-42%);
    }
  }
}

%custom-list {
  list-style: none;
  li {
    position: relative;
    padding-left: 26px;
    letter-spacing: -.5px;
    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: $font-size-base;
      color: $brand-primary;
    }
  }
}

%list-check {
  @extend %custom-list;
  li {
    &:before {
      @extend %icon;
      @extend .icon-check;
    }
  }
}

.list-check {
  @extend %list-check;
}

.list-square {
  @extend %custom-list;
  li {
    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: $brand-primary;
    }
  }
}

// custom-ordered-list
ol {
  &.custom-ordered-list {
    list-style: none;
    > li {
      position: relative;
      counter-increment: step-counter;
      padding-left: 32px;
      &:before {
        content: counter(step-counter);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        padding: 0 6px; // 3px 6px;
        font-size: $font-size-small;
        background-color: $brand-primary;
        color: #fff;
        font-weight: normal;
      }
    }
  }
}

[dir="rtl"] {
  ol {
    &.custom-ordered-list {
      > li {
        padding-right: 32px;
        padding-left: 0;
        &:before {
          right: 0;
          left: auto;
        }
      }
    }
  }
}
