// @component
// Search
//
// sites/all/themes/%/scss/components/_search.scss
// -----------------------------------------------------------------------------

.block.search-form {
  position: relative;
  margin: 0;

  // Text Input.
  .form-control {
    @extend %text-light;
    border-radius: 0;
    border-color: $gray-lighter;
    padding-right: 35px; // Space for icon.
    background: #FFF;
  }

  // Submit btn (Input).
  .form-submit {
    opacity: 0;
    width: 20px;
    height: 20px; // Depends on .icon font-size.
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .icon {
    display: inline-block;
    font-size: 18px;
  }

  .form-submit,
  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(90deg);
  }

}