// Styles for Tabs, Messages, ..etc
// -----------------------------------------------------------------------------

// Gabarit Listing
// --------------------------------------------------
.listing-1-col {
  .view-content {
    .views-row {
      border-bottom: solid 1px $gray-lighter;
      padding-top: 15px;
      padding-bottom: 15px;

      @include breakpoint(xs) {
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

// Flexed box wrapper generic solution needs to be optimized when ever possible
  .flexed-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .flexed-item,
    [class*="flexed-col"] {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
    &.text-center {
      .flexed-item {
        align-items: center;
      }
    }
    .btn {
      align-self: center;
    }
    [class*="flexed-col"] {
      position: relative;
      padding-bottom: 50px;
      .btn {
        position: absolute;
        bottom: 0;
      }
    }
    @for $i from 1 through 6 {
      $col : floor(12 / $i);
      @media (min-width: $screen-xs-min) {
        .flexed-col-#{$i} {
          width: calc( ( 100% / 2 ) - 10px);
        }
      }
      @media (min-width: $screen-md-min) {
        .flexed-col-#{$i} {
          width: calc( ( 100% / #{$col} ) - 10px);
        }
      }
    }
  }
// Rule global used to add spacing between elements
  [class*="col-"],
  [class*="flexed-col"] {
    p + .btn,
    img + p,
    iframe + p,
    .media + p {
      margin-top: 20px;
    }
  }

