@import "compass";
@import "base/variables";
@import "theme/theme-variables";

//@import "theme/colors";
// styleguide
// -----------------------------------------------------------------------------

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $gray-dark;
}

p {
  word-wrap: break-word;
}

.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: .5em;
  text-decoration: none;
  color: white;
  background: black;
}

.skip-links a:focus {
  position: static;
  overflow: visible;
  clip: auto;
}

/* ----------------------------- */
/* ==Global Layout               */
/* ----------------------------- */
/* module, gains superpower "BFC" Block Formating Context */
.mod,
.bfc {
  overflow: hidden;
}

/* blocks that needs to be placed under floats */

// .row,
.clear,
.line {
  clear: both;
}

/* blocks that must contain floats */
.clearfix::after,
.sg-align-float::after,
.line::after {
  display: table;
  clear: both;
  border-collapse: collapse;
  content: '';
}

/* simple blocks alignment */
.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

/* text and contents alignment */
.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txtcenter {
  text-align: center;
}

/* floating elements */
.fl {
  float: left;
}

.fr {
  float: right;
}

// /* table layout */
// .row {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
// }

// .row > *,
// .col {
//   display: table-cell;
//   vertical-align: top;
// }

/* inline-block */
.inbl {
  display: inline-block;
  vertical-align: top;
}

/* flexbox layout
http://www.alsacreations.com/tuto/lire/1493-css3-flexbox-layout-module.html
*/
[class*='flex-container'],
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-h {
  flex-direction: row;
}

.flex-container-v {
  flex-direction: column;
}

.flex-item-fluid {
  min-width: 0;
  flex: 1;
}

.flex-item-first,
.grid-item-first {
  order: -1;
}

.flex-item-medium,
.grid-item-medium {
  order: 0;
}

.flex-item-last,
.grid-item-last {
  order: 1;
}

.flex-item-center,
.grid-item-center {
  margin: auto;
}

.push {
  margin-left: auto;
}

/* Width Helpers */
/* ------------- */
/* blocks widths (percentage and pixels) */
.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33.3333%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w66 {
  width: 66.6666%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.w50p {
  width: 50px;
}

.w100p {
  width: 100px;
}

.w150p {
  width: 150px;
}

.w200p {
  width: 200px;
}

.w300p {
  width: 300px;
}

@media (min-width: 400px) {
  .w400p {
    width: 400px;
  }

  .w500p {
    width: 500px;
  }

  .w600p {
    width: 600px;
  }
}

@media (min-width: 700px) {
  .w700p {
    width: 700px;
  }

  .w800p {
    width: 800px;
  }
}

@media (min-width: 960px) {
  .w960p {
    width: 960px;
  }

  .mw960p {
    max-width: 960px;
  }

  .w1140p {
    width: 1140px;
  }

  .mw1140p {
    max-width: 1140px;
  }
}

.wauto {
  width: auto;
}

/* Spacing Helpers */
/* --------------- */
.man,
.ma0 {
  margin: 0;
}

.pan,
.pa0 {
  padding: 0;
}

.mas {
  margin: 1rem;
}

.mam {
  margin: 2rem;
}

.mal {
  margin: 4rem;
}

.pas {
  padding: 1rem;
}

.pam {
  padding: 2rem;
}

.pal {
  padding: 4rem;
}

.mtn,
.mt0 {
  margin-top: 0;
}

.mts {
  margin-top: 1rem;
}

.mtm {
  margin-top: 2rem;
}

.mtl {
  margin-top: 4rem;
}

.mrn,
.mr0 {
  margin-right: 0;
}

.mrs {
  margin-right: 1rem;
}

.mrm {
  margin-right: 2rem;
}

.mrl {
  margin-right: 4rem;
}

.mbn,
.mb0 {
  margin-bottom: 0;
}

.mbs {
  margin-bottom: 1rem;
}

.mbm {
  margin-bottom: 2rem;
}

.mbl {
  margin-bottom: 4rem;
}

.mln,
.ml0 {
  margin-left: 0;
}

.mls {
  margin-left: 1rem;
}

.mlm {
  margin-left: 2rem;
}

.mll {
  margin-left: 4rem;
}

.mauto {
  margin: auto;
}

.mtauto {
  margin-top: auto;
}

.mrauto {
  margin-right: auto;
}

.mbauto {
  margin-bottom: auto;
}

.mlauto {
  margin-left: auto;
}

.ptn,
.pt0 {
  padding-top: 0;
}

.pts {
  padding-top: 1rem;
}

.ptm {
  padding-top: 2rem;
}

.ptl {
  padding-top: 4rem;
}

.prn,
.pr0 {
  padding-right: 0;
}

.prs {
  padding-right: 1rem;
}

.prm {
  padding-right: 2rem;
}

.prl {
  padding-right: 4rem;
}

.pbn,
.pb0 {
  padding-bottom: 0;
}

.pbs {
  padding-bottom: 1rem;
}

.pbm {
  padding-bottom: 2rem;
}

.pbl {
  padding-bottom: 4rem;
}

.pln,
.pl0 {
  padding-left: 0;
}

.pls {
  padding-left: 1rem;
}

.plm {
  padding-left: 2rem;
}

.pll {
  padding-left: 4rem;
}

/* -------------------------- */
/* ==Responsive helpers       */
/* -------------------------- */
/* large screens */
/* ------------- */
@media (min-width: 1280px) {
  /* layouts for large screens */
  .large-hidden {
    display: none !important;
  }

  .large-visible {
    display: block !important;
  }

  .large-no-float {
    float: none;
  }

  .large-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .large-row {
    display: table;
    width: 100% !important;
    table-layout: fixed;
  }

  .large-col {
    display: table-cell;
    vertical-align: top;
  }
  /* widths for large screens */
  .large-w25 {
    width: 25% !important;
  }

  .large-w33 {
    width: 33.3333% !important;
  }

  .large-w50 {
    width: 50% !important;
  }

  .large-w66 {
    width: 66.6666% !important;
  }

  .large-w75 {
    width: 75% !important;
  }

  .large-w100,
  .large-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: 0;
  }
  /* margins for large screens */
  .large-man,
  .large-ma0 {
    margin: 0 !important;
  }
}

/* medium screens */
/* -------------- */
@media (min-width: 960px) and (max-width: 1279px) {
  /* layouts for medium screens */
  .medium-hidden {
    display: none !important;
  }

  .medium-visible {
    display: block !important;
  }

  .medium-no-float {
    float: none;
  }

  .medium-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .medium-row {
    display: table;
    width: 100% !important;
    table-layout: fixed;
  }

  .medium-col {
    display: table-cell;
    vertical-align: top;
  }
  /* widths for medium screens */
  .medium-w25 {
    width: 25% !important;
  }

  .medium-w33 {
    width: 33.3333% !important;
  }

  .medium-w50 {
    width: 50% !important;
  }

  .medium-w66 {
    width: 66.6666% !important;
  }

  .medium-w75 {
    width: 75% !important;
  }

  .medium-w100,
  .medium-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: 0;
  }
  /* margins for medium screens */
  .medium-man,
  .medium-ma0 {
    margin: 0 !important;
  }
}

/* small screens */
/* ------------- */
@media (min-width: 640px) and (max-width: 959px) {
  /* layouts for small screens */
  .small-hidden {
    display: none !important;
  }

  .small-visible {
    display: block !important;
  }

  .small-no-float {
    float: none;
  }

  .small-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .small-row {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
  }

  .small-col {
    display: table-cell !important;
    vertical-align: top !important;
  }
  /* widths for small screens */
  .small-w25 {
    width: 25% !important;
  }

  .small-w33 {
    width: 33.3333% !important;
  }

  .small-w50 {
    width: 50% !important;
  }

  .small-w66 {
    width: 66.6666% !important;
  }

  .small-w75 {
    width: 75% !important;
  }

  .small-w100,
  .small-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: 0;
  }
  /* margins for small screens */
  .small-man,
  .small-ma0 {
    margin: 0 !important;
  }

  .small-pan,
  .small-pa0 {
    padding: 0 !important;
  }
}

/* tiny screens */
/* ------------ */
@media (max-width: 639px) {
  /* quick small resolution reset */
  .mod,
  .col,
  fieldset {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: 0;
  }

  .flex-container {
    flex-direction: column;
  }

  // .row {
  //   display: block !important;
  //   width: 100% !important;
  // }
  /* layouts for tiny screens */
  .tiny-hidden {
    display: none !important;
  }

  .tiny-visible {
    display: block !important;
  }

  .tiny-no-float {
    float: none;
  }

  .tiny-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .tiny-row {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
  }

  .tiny-col {
    display: table-cell !important;
    vertical-align: top !important;
  }

  /* widths for tiny screens */
  .tiny-w25 {
    width: 25% !important;
  }

  .tiny-w33 {
    width: 33.3333% !important;
  }

  .tiny-w50 {
    width: 50% !important;
  }

  .tiny-w66 {
    width: 66.6666% !important;
  }

  .tiny-w75 {
    width: 75% !important;
  }

  .tiny-w100,
  .tiny-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: 0;
  }
  /* margins for tiny screens */
  .tiny-man,
  .tiny-ma0 {
    margin: 0 !important;
  }

  .tiny-pan,
  .tiny-pa0 {
    padding: 0 !important;
  }
}

/* ----------------------------- */
/* ==Own stylesheet  === >  Optimise it when ever possible            */
/* ----------------------------- */
/* Here should go your own CSS styles */
/*
 * Styleguide
 * Layout & mixins
 * par Alsacréations - 2016
 */
/*
 * Sass Mixins
 */
/*
 * Layout
 */
/* body */

/* Header */
.sg-header {
  margin-bottom: 4rem;
  padding: 4rem;
  background: #f8f8f8;
  .container > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.sg-header .icon-kiwi-leaf {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* Sidebar/Menu */
.sg-menu {
  position: absolute;
  top: 27rem;
  left: 2rem;
  display: none;
  width: 250px;
  padding: 2rem;
  background: #f8f8f8;
}

.sg-menu.is-fixed {
  position: fixed;
  top: 2rem;
}

@media (min-width: 768px) {
  .sg-menu {
    display: block;
  }
}

.sg-title {
  //margin-left: 40px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
}

/*
 * Typography
 */
/* main title */
.sg-title {
  font-size: 3.2rem;
}

/* copyright */
.sg-copyright {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
}

/* section title */
.sg-section > h2.sg {
  font-size: 3.2rem;
  padding-bottom: .15em;
  color: #000;
  border-bottom: 2px solid #eee;
}

.sg-section:first-child > h2.sg {
  margin-top: 0;
}

.sg-text h3.sg {
  color: #000;
}

.sg-text h3.sg::after {
  display: none;
  width: 20px;
  height: 1px;
  content: '';
  border-bottom: 2px solid;
}

/* text */
.sg-text p {
  line-height: 2;
}

/*
 * Styleguide Content
 */
.sg-content {
  position: relative;
  max-width: 90%;
  margin: auto;
  padding: 2rem;
}

@media (min-width: 768px) {
  .sg-content {
    padding: 2rem 0;
  }
}

/* section */
.sg-section {
  margin-bottom: 8rem;
}

/* example & canvas */
.sg-example {
  margin-top: 1rem;
  margin-bottom: 6rem;
  /*border: 1px solid #ddd;*/
  border-radius: 3px;
}

.sg-canvas {
  position: relative;
  //overflow-x: auto;
  padding: 1rem 3px 6rem; /* 4rem 3rem; */
  border-bottom: 1px solid #e4e4e4;
  @include pie-clearfix();
}

.sg-section-templates-articles .sg-canvas {
  padding: 4rem 0;
}

/*
 * Code
 */
/* inline: <code> */
code,
code.sg,
.sg-code-inline,
.sg-color-item::after,
.sg-section-titres h1::after,
.sg-section-titres h2::after,
.sg-section-titres h3::after,
.sg-section-titres h4::after,
.sg-section-titres h5::after,
.sg-section-titres h6::after {
  font-family: $font-family-sans-serif;
  font-size: 1.4rem;
  display: inline-block;
  padding: .2rem .5rem;
  white-space: nowrap;
  border: solid 1px #eaeaea;
  border-radius: 2px;
  background-color: #f8f8f8;
}

/* block: <pre> */
.sg-code {
  font-family: $font-family-sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: 0;
  padding: 2rem;
  border-top: solid 1px #eaeaea;
  background-color: #f8f8f8;
}

/* markup color */
.sg-code .hljs-tag,
.sg-code .hljs-title {
  color: #2f6f9f;
}

.sg-code .hljs-attribute {
  color: #4f9fcf;
}

.sg-code .hljs-string,
.sg-code .hljs-number,
.sg-code .hljs-value {
  color: #d44950;
}

.sg-code .hljs-comment {
  color: #998;
}

/* toggle button */
.sg-code-toggle {
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  padding: .5rem;
  text-align: center;
  color: #777;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  border-top-left-radius: 3px;
  background-color: #fff;
}

.sg-code-toggle:focus,
.sg-code-toggle:hover {
  background-color: #f8f8f8;
}

/*
 * Colors section
 */
.sg-section-couleurs .sg-code-toggle {
  display: none;
}

.sg-color {
  text-align: justify;
  & + .sg-color {
    margin-top: 4rem;
  }
}

.sg-color-item::before {
  display: block;
  content: '';
  width: 166px;
  height: 154px;
}

.sg-color-item::after {
  display: block;
}

.sg-color-item span {
  display: block;
  padding: 18px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #404040;
}

.sg-color-item.base-color::before {
  background: #000;
}

.sg-color-item.alpha-color::before {
  background: #000;
}

.sg-color-item.beta-color::before {
  background: #000;
}

.sg-color-item.headings-color::before {
  background: #000;
}

.sg-color-item.headings-1-color::before {
  background: #000;
}

.sg-color-item.headings-2-color::before {
  background: #000;
}

.sg-color-item.headings-3-color::before {
  background: #000;
}

.sg-color-item.base-color-link::before {
  background: #333;
}

.sg-color-item.base-color-link-hover::before {
  background: #000;
}

.sg-color-item.base-background::before {
  background: #fff;
}

.sg-color-item.alpha-background::before {
  background: #fff;
}

.sg-color-item.beta-background::before {
  background: #fff;
}

/*
 * Fonts section
 */
[class*='sg-font-'] + [class*='sg-font-'] {
  margin-top: 2rem;
}

.sg-section-fonts .sg-code-toggle {
  display: none;
}

.sg-font-common {
  font-family: $font-family-sans-serif;
}

.sg-font-common::before {
  font-weight: bold;
  content: 'sans-serif';
}

.sg-font-headings {
  font-family: $font-family-sans-serif;
}

.sg-font-headings::before {
  font-weight: bold;
  content: 'sans-serif';
}

.sg-font-monospace {
  font-family: $font-family-sans-serif;
}

.sg-font-monospace::before {
  font-weight: bold;
  content: 'consolas, courier, monospace';
}

/*
 * Title section
 */

/*
 * Grids section
 */
.sg-grid + .sg-grid {
  margin-top: 2rem;
}

.sg-grid > * {
  background: #f6f7f8;
  background-clip: content-box;
  height: 280px;
}

.grid-container {
  position: relative;
}

.sg-grid-demo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 280px;
  [class^="col-"] {
    height: 50px;
  }
}

/*
 * Bloc alignment section
 */
.sg-align-block {
  padding: 2rem;
  background: #f8f8f8;
}

.sg-align-block + .sg-align-block {
  margin-top: 2rem;
}

.sg-align-float {
  padding: 2rem;
  background: #f8f8f8;
}

.sg-align-float + .sg-align-float {
  margin-top: 2rem;
}

.sg-align-float > div[class*='f'] {
  padding: 1rem;
  background: #ddd;
}

.sg-color-item.brand-primary::before {
  background: $brand-primary;
}

.sg-color-item.brand-secondary::before {
  background: $brand-secondary;
}

// .sg-color-item.brand-secondary-darker::before {
//   background: $brand-secondary-darker;
// }

.sg-color-item.gray-base::before {
  background: $gray-base;
}

.sg-color-item.gray-darker::before {
  background-color: $gray-darker;
}

.sg-color-item.gray-dark::before {
  background-color: $gray-dark;
}

.sg-color-item.gray::before {
  background: $gray;
}

.sg-color-item.gray-light::before {
  background-color: $gray-light;
}

.sg-color-item.gray-lighter::before {
  background: $gray-lighter;
}

.sg-color-item {
  display: inline-block;
  vertical-align: top;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #656a72;
  margin-right: 2rem;
  margin-bottom: 20px;
  width: 166px;
  height: 220px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  //border-style: solid;
  border-width: 0.5px;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
}

// .icons [class^="icon-"] {
//   display: inline-block;
//   margin: 13px;
//   font-size: 36px;
// }

.btn-slider-left {
  margin-right: 10px;
}

.btn-slider-right {
  margin-left: 10px;
}

.sg-section-titres h3 {
  text-align: initial;
}

.b-listing--items {
  margin-bottom: 50px;
}

.dropdown-wr {
  min-height: 180px;
}

/* Custom styles  */

// typography
.sg-canvas {
  .sg-heading {
    position: relative;
    padding-left: 86px;
    &:before {
      content: attr(data-sg-heading);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 62px;
      transform: translateY(-50%);
      text-align: right;
      color: $gray-dark;
    }
    &[data-sg-heading="h1"] {
      &:before {
        font-family: $font-family-serif;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      position: relative;
      padding: 10px;
      border: 1px solid;
      border-radius: 4px;
      text-align: center;
      &:after {
        background: none repeat scroll 0 0 #FFFFFF;
        border-bottom: 1px solid;
        // border-color: $gray;
        border-left: 1px solid;
        content: "";
        height: 10px;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: rotate(45deg) translateY(-50%);
        width: 10px;
      }
    }
    &[data-sg-heading="h1"]:before {
      font-size: $font-size-h1;
    }
    &[data-sg-heading="h2"]:before {
      font-size: $font-size-h2;
    }
    &[data-sg-heading="h3"]:before {
      font-size: $font-size-h3;
    }
    &[data-sg-heading="h4"]:before {
      font-size: $font-size-h4;
    }
    &[data-sg-heading="h5"]:before {
      font-size: $font-size-h5;
    }
    &[data-sg-heading="h6"]:before {
      font-size: $font-size-h6;
    }
    &.sg-text {
      padding-left: 102px;
      &:before {
        width: 90px;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}

.sg-text-title {
  display: block;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.sg-text-title.p-bold {
  font-weight: bold;
}

h5.sg {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-family: $font-family-sans-serif;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  //color: $gray;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    height: 2px;
    opacity: 0.3;
    border: solid 1px $gray;
    left: 0;
  }
}

.sg h3 {
  text-align: left;
}

.sg-section-titres .titre-partie:after {
  content: none;
}

.sg-example .side-bar {
  float: none;
}

.side-bar .box-content article {
  padding: 10px 0;
}

.sg-caroussel {
  display: block !important;
}

@media (max-width: 500px) {
  .sg-color {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .sg-example {
    border: none;
  }
  .sg-code-toggle {
    border-width: 1px;
  }
}

.sg-d-block {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
}

.sg-separator {
  clear: both;
  margin-bottom: 40px;
}

.scroll-top-btn {
  position: static;
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.sg-canvas {
  padding-right: 0;
  padding-left: 0;
}

span.titre-partie {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-style: normal;
}

.typo-font {
  &.serif {
    &, h1 {
      font-family: $font-family-serif;
    }
  }
  &.sans-serif {
    &, h1 {
      font-family: $font-family-sans-serif;
    }
  }
  h1 {
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  span.titre-partie {
    margin-top: 14px;
  }
}

.btn-md {
  width: 100%;
}

.product-items li.media img {
  max-width: 100px;
}

@media (min-width: $screen-sm-min) {
  .col-sm-12.main-wrapper {
    padding: 0;
  }
}

.sg-btn-wrapper {
  &:first-of-type {
    > div:first-of-type {
      background: #5d6d6f none;
    }
  }
  &:nth-child(2) {
    background-color: $brand-primary;
  }
  > div {
    padding: 16px 23px;
  }
  + .sg-btn-wrapper {
    padding: 16px;
  }

}

.sg-radio-wrapper {
  background-color: $brand-primary;
  padding: 15px;
}

.sg-block-wrapper, .sg-block-wrapper-white {
  background-color: #f5f3ea;
  padding: 15px 0;
  width: 100%;
}

.sg-block-wrapper-white {
  background-color: #fff;
}

.sg-group-wrapper {
  padding: 15px;
}

.sg-toggle-btn {
  margin: 20px auto;
  display: block;
  max-width: 250px;
}

@media (min-width: $screen-sm-min) {
  .sg-logo-wrapper {
    display: flex;
    justify-content: space-between;
    > * {
      align-self: center;
    }
    &:before, &:after {
      content: none;
    }
    .sg-title {
      font-size: 64px;
    }
  }
  .testimonial.quote-half {
    width: 60%;
  }
}

.icons {
  i {
    display: inline-block;
    margin: .6em;
  }

  > div {
    width: 30%;
    margin-bottom: 0.8em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

}

/* end custom styles */
