// @component
// sites/all/modules/custom/vactory_header/scss/_global.scss
// Header
// -----------------------------------------------------------------------------

.vh-header .contextual-links-region {
  position: initial;
}

.vh-menu-button-close {
  position: absolute;
  top: 15px;
  right: 0;
  //  max-width: 1170px;
  margin: 0 auto;
  left: 0;
  text-align: right;

  @include breakpoint(xs) {
    display: none;
  }

  @include rtl() {
    text-align: left;
  }

  .button-close {
    display: inline-block;

    &:hover,
    &:active
    &:focus {
      text-decoration: none;
      //      color: inherit !important;
    }

    // Icon.
    > i {
      font-size: 30px;
    }
  }
}
