/* === HELP! === */

.vh-mobile {
  &__hide {
    @media screen and (max-width: $screen-sm) {
      display: none !important;
    }
  }

  &__show {
    @media screen and (max-width: $screen-sm) {
      display: block !important;
    }
  }
}

.vh-header .hamburger:focus {
  outline: 0;
}

.vh-disable__scroll {
  overflow: hidden;
}

.vh-header .social-media-links img,
#vhm-menu .social-media-links img {
  display: none;
}

.vh-header .social-media-links a:hover,
#vhm-menu .social-media-links a:hover {
  text-decoration: none;
}

.vh-block--wide {
  max-width: initial !important;
}

.vh-block--toright {
  margin-left: auto !important;

  @include when-rtl() {
    margin-right: auto !important;
  }
}

.vh-block--toleft {
  margin-right: auto !important;

  @include when-rtl() {
    margin-left: auto !important;
  }
}

