/* === IMPORT === */
//@import url('https://fonts.googleapis.com/css?family=Roboto');
//// See $font-family-primary below. Remove if not used.
//@import "../libs/hamburgers/_sass/hamburgers/hamburgers";

/* === VARIABLES === */
$vh-primary-color: $brand-primary !default;
$vh-primary-color-alt: darken($link-color, 15%) !default;
$vh-links-color: $link-color !default;
$vh-overlay-primary: #263238 !default;
$vh-overlay-secondary: #2e3d44 !default;
$vh-overlay-tertiary: #202629 !default;
$font-family-primary: $font-family-sans-serif !default;

/* === COMPONENTS === */
.vh-header.variant1 {
  font-family: $font-family-primary;
  background-color: #FFF;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eaeaea;

  &.vh-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 99;
    height: 149px;
    transition: height 0.5s;
  }

  &.vh-header-small {
    height: 94px;

    .primary-menu > .menu-wrapper > .menu > .expanded > .menu-wrapper {
      top: 93px;
    }

    .vh-logo #logo img {
      max-height: 65px;
    }

  }

  > .layout {
    @extend .container;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .vh-logo {
    #logo {
      margin: 1em 0;
      float: none;

      img {
        max-height: 120px;
        max-width: 220px;
        transition: all 0.5s;
      }
    }
  }

  .vh-menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include breakpoint(xs) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .separator {
    width: 95%;
    background: #f5f5f5;
    height: 1px;
    margin: 1em 0;
  }

  // Reset for custom blocks.
  .block__content {
    .form-group,
    p,
    ol,
    ul {
      padding: 0;
      margin: 0;
    }
  }

  .secondary-menu, .primary-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .menu-wrapper > .menu {
      display: flex;
      flex-wrap: wrap;

      a {
        text-transform: capitalize;
        //        font-size: 1.1em;
        line-height: normal;
        color: $vh-links-color;
        position: relative;
        transition: color .3s;

        &:hover, &:focus {
          color: $vh-primary-color;
          background-color: transparent;
        }
      }

    }

    a.active,
    a.active-trail {
      color: $vh-primary-color !important;
    }

    a.search {
      &::after {
        @extend %icon;
        content: $icon-search;
        margin-left: 5px;
      }
    }

  }

  // Space for menu
  .primary-menu > div + .menu-wrapper {
    margin: 0 1em;
  }

  // Primary menu sub menu.
  .primary-menu > .menu-wrapper > .menu > .expanded {
    position: static;

    .menu-wrapper > .menu {
      display: block;
    }

    .caret {
      display: none;
    }

    > a {
      padding-right: 30px;

      &.selected {
        color: $vh-primary-color;
        &::before, &::after {
          background: $vh-primary-color;
        }
      }

      &:hover, &:focus {
        &::before, &::after {
          background: $vh-primary-color !important;
        }
      }

      // Arrow down.
      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        display: inline-block;
        height: 2px;
        backface-visibility: hidden;
        width: 9px;
        background: $vh-links-color;
        transition: width 0.3s, transform 0.3s;
        transform-origin: 50% 50%;
      }

      &::before {
        right: 12px;
        transform: rotate(45deg);
      }

      &::after {
        right: 7px;
        transform: rotate(-45deg);
      }

      // Transform arrow to cross.
      &.selected {
        &::before {
          transform: translateX(5px) rotate(-45deg);
        }

        &::before, &::after {
          width: 14px;
        }

        &::after {
          transform: rotate(45deg);
        }

      }
    }

    > .menu-wrapper {
      position: absolute;
      top: 148px;
      width: 100vw;
      background: #FFF;
      padding: 48px 0;
      box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
      transform: translateX(0);
      overflow: visible;
      z-index: 3;
      left: 0;
      margin: 0;

      // Animation stuff.
      transition: visibility 0s linear .3s, opacity .3s linear;
      opacity: 0;
      visibility: hidden;

      &.open {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }

      > .menu {
        display: flex;
        flex-wrap: wrap;
        max-width: 1170px;
        margin: 0 auto;

        > li:not(:last-child) {
          margin-right: 2em;
          border-right: 1px solid #e2e3df;
        }

        > li:nth-child(4n) {
          margin-right: 0;
          border-right: 0;
        }

        > li {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 20%;
          max-width: 23.33%;
          margin-bottom: 1em;

          .child-ul a {
            font-size: 1em;
            padding: 8px 15px;
          }

        }

        > .expanded > a {
          color: $vh-primary-color;
          font-weight: bold;
          font-size: 1.6rem;
          margin-bottom: .6em;
        }
      }

    }

  }

  // Burger icon.
  .vh-hamburger {
    display: none;

    button:focus {
      outline: 0;
    }

  }

  // Hide menus & show burger menu.
  @media screen and (max-width: $screen-sm) {

    .vh-menus .separator,
    .vh-menus .primary-menu {
      display: none !important;
    }

    .vh-menus .secondary-menu {
      // Bypass Waypoint JS.
      display: block !important;
    }

    .vh-hamburger {
      display: block;
      flex: 1;
      text-align: right;
    }

    .vh-logo #logo img {
      max-height: 60px;
      max-width: 160px;
      margin-right: 10px;

      @include when-rtl() {
        margin-right: 0;
        margin-left: 10px;
      }
    }

    .layout {
      justify-content: space-between;
    }

    &.vh-sticky {
      height: auto;
    }

  }

}

/* === MOBILE MENU === */
.variant1 {
  .vhm-menu {
    z-index: 999;
    position: fixed;
    width: 100%;
    overflow: auto;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: $vh-overlay-primary;
    transform: translateX(-100%);
    transition: transform .3s ease;

    &.is-open {
      transform: translateX(0);
    }

    &__top-wrapper {
      background-color: $vh-overlay-secondary;
      padding: 12px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      #logo {
        display: block;
        float: none;
        margin: 0;
        height: auto;
        width: auto;

        img {
          max-height: 65px;
          max-width: 160px;
        }

      }
    }

    &__hamburger {

      button {
        padding: 0;
      }

      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #fff;
      }
    }

    #mmenu-close-btn:focus {
      outline: 0;
    }

    ul li a {
      border-bottom: 1px solid rgba(58, 73, 80, 0.4);
      padding: 18px 37px 18px 15px;
      font-weight: 600;
      color: $vh-primary-color;
      position: relative;
      display: block;
      transition: color .3s ease, background-color .3s ease;

      &:hover,
      &.selected,
      &.active-trail,
      &.active {
        color: $vh-primary-color;
        text-decoration: none;
        background-color: #fff;
      }

      .caret {
        display: none;
      }

    }

    li {
      &.expanded {
        > a {
          &::after {
            @extend %icon;
            content: $icon-chevron-right-flat;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .3s ease;
          }

          &.selected::after {
            transform: translateY(-50%) rotate(90deg);
          }

        }

        .menu-wrapper {
          display: none;
          background: $vh-overlay-secondary;

          > .menu > li > a {
            padding-left: 2em;
          }

        }

      }
    }

    // Search form.
    .vhm-menu_search {
      background: $vh-overlay-tertiary;

      .element-invisible {
        display: none;
      }

      .form-item-search-block-form {
        padding: 0;
        flex: 1;
      }

      > form {
        padding: 15px;
      }

      > form > div > div {
        display: flex;

        > div {
          margin: 0;
          padding: 0;

          input {
            border-radius: 0;
            height: 45px;
            line-height: 45px;
            border: 0;

            &:focus {
              outline: 0;
            }

          }

          .form-text {
            width: 100%;

            &:focus {
              background: #f1f1f1;
            }
          }

          .form-submit {
            margin: 0;
            background-color: $vh-primary-color;
            border: 0;
            padding: 0 30px;

            &:focus {
              background-color: $vh-primary-color-alt;
            }
          }
        }
      }
    }
  }

}

/* === BODY FIXED === */
body.vh-variant1 {
  padding-top: 149px;

  @media screen and (max-width: $screen-sm) {
    padding-top: 75px;
  }

  &.navbar-administration {
    // 149(header)+92(topheader)
    padding-top: 241px !important;

    @media screen and (max-width: $screen-sm) {
      padding-top: 195px !important;
    }

    .vh-header.variant1.vh-sticky {
      top: 90px;
    }

    .vhm-menu {
      transform: translateX(-100%);

      &.is-open {
        transform: translateX(0) !important;
      }
    }

  }

  &.navbar-administration.navbar-tray-open {
    .vhm-menu {
      transform: translateX(calc(-100% - 15rem));

      &.is-open {
        transform: translateX(-15rem) !important;
      }
    }
  }

  &.is-mobile {
    padding-top: 100px;
  }

}
