// @component
// @@header
// sites/all/modules/custom/vactory_header/scss/_variant6.scss
// Variant 6
// -----------------------------------------------------------------------------

/* === VARIABLES === */
$vh6-primary-color: #fff !default;
$vh6-primary-color-alt: $brand-primary !default;//darken($link-color, 15%) !default;
$vh6-links-color: $link-color !default;
$vh6-overlay-primary: $brand-primary !default;
$vh6-overlay-secondary: lighten($brand-primary, 15%) !default;
$vh6-overlay-tertiary: darken($brand-primary, 15%) !default;
$vh6-overlay-third-level: lighten($vh6-overlay-secondary, 15%) !default;
$font-family-primary: $font-family-sans-serif !default;

/* === COMPONENTS === */
.vh-header.variant6 {
  font-family: $font-family-primary;
  background-color: #FFF;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;

  &.vh-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 99;
    height: 171px;
    transition: height 0.5s;
  }

  &.vh-header-small {
    height: 76px;

    box-shadow: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.12);

    .scroll-indicator {
      width: 0;
      height: 5px;
      background-color: $vh4-primary-color;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);

      @include when-rtl() {
        left: auto;
        right: 0;
      }
    }

    .primary-menu .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper {
      top: 76px;
    }

    .vh-logo #logo img {
      max-height: 45px;
    }

    .vh-header--top {
      transform: translate3d(0, -100%, 0);
    }

    > .layout {
      margin-top: -43px;
      @media screen and (max-width: $screen-sm) {
        margin-top: 0;
      }
    }
  }

  .vh-header--top {
    background: $vh6-overlay-tertiary;
    transition: transform .3s ease-out;

    @include breakpoint(xs) {
      display: none;
    }
  }

  .layout {
    @extend .container;
    display: flex;
    align-items: center;
    transition: margin .3s ease-out;
  }

  > .layout {
    flex-grow: 1;
  }

  .vh-logo {
    #logo {
      margin: 5px 0;
      float: none;
      min-width: 120px;
      text-align: center;

      img {
        max-height: 45px;
        max-width: 220px;
        transition: all 0.5s;
      }
    }
  }

  .vh-menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    @include when-rtl() {
      margin-left: 0;
      margin-right: 30px;
    }

    @media screen and (max-width: $screen-sm) {
      margin-left: 10px;
    }

    @include when-rtl() {
      @media screen and (max-width: $screen-sm) {
        margin-right: 10px;
      }
    }
  }

  // Reset for custom blocks.
  .block__content {
    .form-group,
    p,
    ol,
    ul {
      padding: 0;
      margin: 0;
    }
  }

  ul.menu,
  ul.menu li {
    padding: 0;
    margin: 0;
  }

  // Search Icon
  .vh-component__search {
    margin: 0 1em;

    a {
      color: #fff;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }

      &:focus,
      &:active {
        text-decoration: none;
        outline: 0;
      }
    }
  }

  // Social links
  ul.social-media-links.platforms.inline.horizontal {
    display: flex;
  }

  ul.social-media-links.platforms.inline.horizontal li {
    list-style: none;
    margin: 0 .1em;
    padding: 5px;
    background: black;
    width: 30px;
    text-align: center;
    border-radius: 5px;

    a {
      color: #9E9E9E;
      font-size: 16px;
    }
  }

  // Language dropdown.
  .vh-language_dropdown {
    margin-left: auto;

    @include when-rtl() {
      margin-left: 0;
      margin-right: auto;
    }
  }

  // Secondary menu
  .secondary-menu {
    margin-left: auto;

    @include when-rtl() {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .secondary-menu, .primary-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .block__content > .menu-wrapper > .menu {
      display: flex;
      flex-wrap: wrap;

      a {
        color: $vh6-links-color;
        position: relative;
        transition: color .3s;

        &:hover, &:focus {
          color: $vh6-primary-color-alt;
          background-color: transparent;
        }
      }

    }

    a.active,
    a.active-trail {
      color: $vh6-primary-color-alt !important;
    }

    a.search {
      &::after {
        @extend %icon;
        content: $icon-search;
        margin-left: 5px;
      }
    }
  }

  .secondary-menu .block__content > .menu-wrapper > .menu a {
    color: #fff;
    transition: color .3s, background-color .3s;

    &:hover, &:focus {
      background-color: #FFF;
    }
  }

  // Primary menu sub menu.
  .primary-menu .block__content > .menu-wrapper > .menu > .expanded {
    position: static;

    .caret {
      display: none;
    }

    > a {
      padding-right: 30px;

      @include when-rtl() {
        padding-right: 15px;
        padding-left: 30px;
      }

      &.selected {
        color: $vh6-primary-color-alt;
        &::before, &::after {
          background: $vh6-overlay-primary;//$vh6-primary-color;
        }
      }

      &:hover, &:focus {
        &::before, &::after {
          background: $vh6-primary-color-alt !important;//$vh6-primary-color !important;
        }
      }

      // Arrow down.
      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        display: inline-block;
        height: 2px;
        backface-visibility: hidden;
        width: 9px;
        background: $vh6-links-color;
        transition: width 0.3s, transform 0.3s;
        transform-origin: 50% 50%;
      }

      &::before {
        right: 12px;
        transform: rotate(45deg);

        @include when-rtl() {
          right: auto;
          left: 7px;
        }
      }

      &::after {
        right: 7px;
        transform: rotate(-45deg);

        @include when-rtl() {
          right: auto;
          left: 12px;
        }
      }

      // Transform arrow to cross.
      &.selected {
        &::before {
          transform: translateX(5px) rotate(-45deg);

          @include when-rtl() {
            transform: rotate(-45deg);
          }
        }

        &::before,
        &::after {
          width: 14px;
        }

        &::after {
          transform: rotate(45deg);

          @include when-rtl() {
            transform: translateX(-5px) rotate(45deg);
          }
        }

      }
    }

    > .menu-wrapper {
      position: absolute;
      top: 170px;
      width: 100vw;
      background: #FFF;
      padding: 48px 0;
      box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
      transform: translateX(0);
      overflow: visible;
      z-index: 3;
      left: 0;
      margin: 0;

      // Animation stuff.
      transition: visibility 0s linear .3s, opacity .3s linear;
      opacity: 0;
      visibility: hidden;

      &.open {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }

      > .menu {
        display: flex;
        flex-wrap: wrap;
        max-width: 1170px;
        margin: 0 auto;

        > li:not(:last-child) {
          margin-right: 2em;
          border-right: 1px solid #e2e3df;

          @include when-rtl() {
            margin-right: 0;
            margin-left: 2em;

            border-right: 0;
            border-left: 1px solid #e2e3df;
          }

        }

        > li:nth-child(4n) {
          margin-right: 0;
          border-right: 0;

          @include when-rtl() {
            margin-left: 0;
            border-left: 0;
          }

        }

        > li {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 20%;
          max-width: 23.33%;
          margin-bottom: 1em;

          .child-ul a {
            font-size: 1em;
            padding: 8px 15px;
          }

        }

        > .expanded > a {
          color: $vh6-links-color;
          font-weight: bold;
          font-size: 1.6rem;
          margin-bottom: .6em;
        }
      }

    }

  }

  // Burger icon.
  .vh-hamburger {
    display: none;

    button:focus {
      outline: 0;
    }

  }

  // Hide menus & show burger menu.
  @media screen and (max-width: $screen-sm) {

    //    .vh-menus {
    //      display: none;
    //    }

    .vh-hamburger {
      display: block;
      flex: 1;
      text-align: right;

      .hamburger {
        margin-left: auto;

        @include when-rtl() {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    .vh-logo #logo img {
      //      max-height: 60px;
      max-height: none;
      max-width: 100%;

    }

    .layout {
      justify-content: space-between;
      width: 100%;
    }

    &.vh-sticky {
      height: auto;
    }

  }

}

/* === MOBILE MENU === */
.variant6 {
  .vhm-menu {
    z-index: 999;
    position: fixed;
    width: 100%;
    overflow: auto;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: $vh6-overlay-primary;
    transform: translateX(-100%);
    transition: transform .3s ease;

    &.is-open {
      transform: translateX(0);
    }

    &__top-wrapper {
      background-color: $vh6-primary-color;
      padding: 12px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      #logo {
        display: block;
        float: none;
        margin: 0;
        height: auto;
        width: auto;

        img {
          max-height: 45px;
        }

      }
    }

    &__hamburger {

      button {
        padding: 0;
      }

      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: $vh6-primary-color-alt;
      }
    }

    #mmenu-close-btn:focus {
      outline: 0;
    }

    ul li a {
      border-bottom: 1px solid rgba(58, 73, 80, 0.4);
      padding: 18px 37px 18px 15px;
      /*font-weight: 600;*/
      color: $vh6-primary-color;
      position: relative;
      display: block;
      transition: color .3s ease, background-color .3s ease;

      &:hover,
      &.selected,
      &.active-trail,
      &.active {
        color: $vh6-primary-color;
        text-decoration: none;
        background-color: $vh6-overlay-primary;
      }

      .caret {
        display: none;
      }

    }

    li {
      &.expanded {
        > a {
          &::after {
            @extend %icon;
            content: $icon-chevron-right-flat;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .3s ease;
          }

          &.selected::after {
            transform: translateY(-50%) rotate(90deg);
          }

        }

        .menu-wrapper {
          display: none;
          background: $vh6-overlay-secondary;

          > .menu > li {
              > a {
                padding-left: 2em;
                background: $vh6-overlay-secondary;
              }
              > .menu-wrapper > .menu > li > a {
                background: $vh6-overlay-third-level;
                &.active {
                  background: $vh6-primary-color;
                  color: $vh6-primary-color-alt;
                }
              }

            }



        }

      }
    }

    // Search form.
    .vhm-menu_search {
      background: $vh6-overlay-tertiary;

      .element-invisible {
        display: none;
      }

      .form-item-search-block-form {
        padding: 0;
        flex: 1;
      }

      > form {
        padding: 15px;
      }

      > form > div > div {
        display: flex;

        > div {
          margin: 0;
          padding: 0;

          input {
            height: 45px;
            line-height: 45px;
            color: $vh6-primary-color-alt;
            border-color: $vh6-primary-color;

            &:focus {
              outline: 0;
            }

          }

          .form-text {
            width: 100%;

            &:focus {
              background: #f1f1f1;
            }
          }

          .form-submit {
            margin: 0;
            background-color: $vh6-primary-color;
            border: 0;
            padding: 0 30px;

            &:focus {
              background-color: $vh6-primary-color-alt;
            }
          }
        }
      }
    }
  }

}

/* === BODY FIXED === */
body.vh-variant6 {
  padding-top: 171px;

  @media screen and (max-width: $screen-sm) {
    padding-top: 59px;
  }

  &.navbar-administration {
    // 149(header)+92(topheader)
    padding-top: 241px !important;

    @media screen and (max-width: $screen-sm) {
      padding-top: 195px !important;
    }

    .vh-header.variant6.vh-sticky {
      top: 90px;
    }

    .vhm-menu {
      transform: translateX(-100%);

      &.is-open {
        transform: translateX(0) !important;
      }
    }

  }

  &.navbar-administration.navbar-tray-open {
    .vhm-menu {
      transform: translateX(calc(-100% - 15rem));

      &.is-open {
        transform: translateX(-15rem) !important;
      }
    }
  }

  &.is-mobile {
    padding-top: 100px;
  }

}
