/* === IMPORT === */
//@import url('https://fonts.googleapis.com/css?family=Roboto');
//// See $font-family-primary below. Remove if not used.
//@import "../libs/hamburgers/_sass/hamburgers/hamburgers";

/* === VARIABLES === */
$vh3-dark-color: #2a282b !default;
$vh3-primary-color: $brand-primary !default;
$vh3-primary-color-alt: darken($link-color, 15%) !default;
$vh3-links-color: #929292 !default;
$vh3-overlay-primary: #263238 !default;
$vh3-overlay-secondary: #2e3d44 !default;
$vh3-overlay-tertiary: #202629 !default;
$vh3-font-family-primary: $font-family-sans-serif !default;
$vh3-mobile-menu-width: 260px !default;

.variant3 {
  .vh-header {
    background: $vh3-dark-color;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

    > .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (max-width: $screen-sm) {
        justify-content: space-between;
      }

      .block.logo-block {
        @media screen and (max-width: $screen-sm) {
          flex: 1;
        }
      }
    }

    // Reset for custom blocks.
    .block__content {
      .form-group,
      p,
      ol,
      ul {
        padding: 0;
        margin: 0;
      }
    }

    > .container > .block {
      // Logo.
      #logo {
        margin: 1em 5em 1em 0;
        float: none;

        @media screen and (max-width: $screen-sm) {
          margin: 1em 0;
        }

        img {
          max-height: 60px;
          transition: all 0.5s;
        }
      }

      // Main menu wide.
      &.vh-primary-menu {
        flex: 1;

        > .block__content > .menu-wrapper > .menu {
          display: flex;
          flex-wrap: wrap;

          > li:not(:last-child) {
            margin-right: 1em;
          }

          // Animation stuff.
          > li {
            position: relative;

            &::before,
            &::after {
              content: '';
              position: absolute;
              background: $vh3-primary-color;
              transition: transform 0.2s;
              top: 0;
              width: 2px;
              height: 100%;
              transform: scale3d(1, 0, 1);
            }

            &::before {
              left: 0;
              transform-origin: 50% 100%;
            }

            &::after {
              right: 0;
              transform-origin: 50% 0%;
            }

            // Current item state.
            &.active,
            &:not(.active):hover {
              &::before,
              &::after {
                transform: scale3d(1, 1, 1);
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 0.4s;
              }

              > a {
                &::before,
                &::after {
                  transform: scale3d(1, 1, 1);
                  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                  transition-duration: 0.4s;
                }
              }
            }

            > a {
              position: relative;
              &::before,
              &::after {
                content: '';
                position: absolute;
                background: $vh3-primary-color;
                transition: transform 0.2s;
                left: 0;
                width: 100%;
                height: 2px;
                transform: scale3d(0, 1, 1);
              }

              &::before {
                top: 0;
                transform-origin: 0 50%;
              }

              &::after {
                bottom: 0;
                transform-origin: 100% 50%;
              }
            }

          }

          a {
            text-transform: capitalize;
            font-size: 1.1em;
            line-height: normal;
            color: $vh3-links-color;
            position: relative;
            padding: .8em 1em;
            font-weight: bold;
            transition: color .3s;

            &:hover, &:focus {
              color: $vh3-primary-color;
              background-color: transparent;
            }
          }

          > .expanded {

            .caret {
              display: none;
            }

            > a > .caret {
              display: inline-block;
            }

            > .menu-wrapper {
              position: fixed;
              top: 88px;
              width: 100vw;
              background: #FFF;
              padding: 48px 0;
              box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
              overflow: visible;
              z-index: 3;
              left: 0;
              margin: 0;

              // Animation stuff.
              transition: visibility 0s linear .3s, opacity .3s linear;
              opacity: 0;
              visibility: hidden;

              &.open {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
              }

              > .menu {
                display: flex;
                flex-wrap: wrap;
                max-width: 1170px;
                margin: 0 auto;

                > li:not(:last-child) {
                  margin-right: 2em;
                  border-right: 1px solid #e2e3df;
                }

                > li:nth-child(4n) {
                  margin-right: 0;
                  border-right: 0;
                }

                > li {
                  flex-grow: 1;
                  flex-shrink: 1;
                  flex-basis: 20%;
                  max-width: 23.33%;
                  margin-bottom: 1em;

                  .child-ul a {
                    font-size: 1em;
                    padding: 8px 15px;
                  }

                }

                > .expanded > a {
                  color: $vh3-primary-color;
                  font-weight: bold;
                  font-size: 1.6rem;
                  margin-bottom: .6em;
                }
              }

            }

          }

        }

      }

      a.active,
      a.active-trail {
        color: $vh3-primary-color !important;
      }

    }
  }

  .vh-component__search {
    margin: 0 1em;
    a {
      font-size: 1.6em;
      color: #FFF;
    }
  }

  // Helpers.
  .desktop--wide_enough {
    flex: 1;
  }

  .desktop--centered_object {
    text-align: center;

    * {
      margin: 0 auto;
    }
  }

  .mobile--wide_enough {
    @media screen and (max-width: $screen-sm) {
      flex: 1;
    }
  }

  .mobile--centered_object {
    @media screen and (max-width: $screen-sm) {
      text-align: center;

      * {
        margin: 0 auto;
      }
    }
  }

  ul.social-media-links {
    @media screen and (max-width: $screen-sm) {
      text-align: center;
      margin: 1em 0;
    }
  }

}

/* === MOBILE === */
.variant3 {

  #vhm-menu .vh-primary-menu {
    @media screen and (max-width: $screen-sm) {
      display: block !important;
    }

    ul li a {
      border-bottom: 1px solid rgba(58, 73, 80, 0.4);
      padding: 18px 37px 18px 15px;
      font-weight: 600;
      color: $vh3-primary-color;
      position: relative;
      display: block;
      transition: color .3s ease, background-color .3s ease;

      &:hover,
      &.selected,
      &.active-trail,
      &.active {
        color: $vh3-primary-color;
        text-decoration: none;
        background-color: #fff;
      }

      .caret {
        display: none;
      }

    }

    li {
      &.expanded {
        > a {
          &::after {
            @extend %icon;
            content: $icon-arrow-right;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .3s ease;
          }

          &.selected::after {
            transform: translateY(-50%) rotate(90deg);
          }

        }

        .menu-wrapper {
          display: none;
          background: $vh3-overlay-secondary;

          > .menu > li > a {
            padding-left: 2em;
          }

        }

      }
    }

  }

  .vh-header {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: #fff;
    }
  }

  .vhm-menu {
    z-index: 999;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: $vh3-overlay-primary;
    width: $vh3-mobile-menu-width;
    transform: translateX(100%);
    transition: transform .3s ease;

    &.is-open {
      transform: translateX(0) !important;
    }

    &.is-leftside {
      left: 0;
      right: auto;
      transform: translateX(-100%);
    }

  }
}

.vh3-push-left,
.vh3-push-right {
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(-$vh3-mobile-menu-width);
  }

  &.has-overlay {
    &::after {
      content: '';
      position: fixed;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: 0;
      //      top: 88px;
      left: 0;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      animation: vh-fadeIn .2s forwards;
    }
  }
}

.vh3-push-right {
  &.is-open {
    transform: translateX($vh3-mobile-menu-width);
  }
}


/* === BODY FIXED === */
body.vh-variant3 {
  padding-top: 88px;

  &.navbar-administration {
    padding-top: 184px !important;

    .vh-header {
      top: 88px !important;
    }

    .vh-header > .container > .block.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper {
      top: 176px;
    }
  }

  &.navbar-administration.navbar-tray-open.navbar-vertical {
    .vh-header {
      top: 46px !important;
    }
  }
}

/* === ANIMATIONS === */

@keyframes vh-fadeIn {
  to {
    opacity: 1;
  }
}