// Variables
$blog-entry-image-height: 293px !default;
$blog-entry-media-background: #f1f1f1 !default;
$blog-entry-media-icon-color: #FFF !default;
$blog-entry-author-image-size: 131px !default;
$blog-entry-author-container-bg: #f5f5f5 !default;
$blog-entry-big-media-max-height: 360px !default;

$state-danger-input: red !default;

$social-color: #FFF !default;
$social-facebook-color: #3c5b9b !default;
$social-googleplus-color: #d74735 !default;
$social-youtube-color: #fe3432 !default;
$social-twitter-color: #1da1f2 !default;
$social-linkedin-color: #007bb6 !default;
$social-vimeo-color: #23b6ea !default;
$social-pinterest-color: #cb1f27 !default;
$social-email-color: rgba(57, 57, 57, 0.87) !default;

.view-id-v_blog_view {

//  .view-filters {
//    .views-widget-filter-date_filter > label,
//    .views-widget-sort-sort_bef_combine > .views-widget > .form-group > label {
//      @extend .sr-only;
//    }
//    .views-exposed-form .views-exposed-widget,
//    .views-exposed-form .form-item, .views-exposed-form .form-submit{
//      padding: 0;
//      margin: 0;
//    }
//
//    .views-exposed-form .views-exposed-widget:not(:last-child) {
//      margin-right: 1em;
//    }
//  }

  // You may use display: inline-block on rows and font-size:0 on parent
  .row-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .entry-item {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
  }

  .blog-entry {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #e4e4e4;

    .blog-entry--title {
      padding-bottom: .8em;
    }

    > .blog-entry--media {
      position: relative;
      background: $blog-entry-media-background;
    }

    > .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: .8em;
    }

    .blog-entry--publication,
    .blog-entry--view-count {
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;

      > span {
        margin-right: 5px;
      }
    }
  }

  .field-name-field-v-blog-image {
    a {
      display: block;
    }

    img {
      @extend .img-responsive;
      height: $blog-entry-image-height;
    }
  }

  .blog-entry--media-icon {
    @extend %icon;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $blog-entry-media-icon-color;

    &:hover, &:active {
      text-decoration: none;
    }
  }

  .blog-entry--imagetype .blog-entry--media-icon {
    @extend .icon-picture-o;
  }

  .blog-entry--videotype .blog-entry--media-icon {
    @extend .icon-camera;
  }

}

// Node
.node-vactory-blog-entry {

  .author {
    background-color: $blog-entry-author-container-bg;
    padding: 2em 0;
    margin-top: 2em;

    .author-container-center {
      display: flex;
      width: 80%;
      margin: 0 auto;
    }

    .author-name {
      font-weight: bold;
      font-size: 2em;
    }

    .author-footer {
      display: flex;
      margin-top: 1em;
      justify-content: space-between;
      align-items: center;
    }

    // Make author information as wide as possible
    .author-content {
      flex: 2;
    }

    .author-image {
      margin-right: 1em;
      img {
        @extend .img-circle;
        width: $blog-entry-author-image-size;
        height: $blog-entry-author-image-size;
      }
    }

    .author-social > .links {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      > li:not(:last-child) {
        margin-right: 1em;
      }

      a {
        @extend .icon;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: $social-color;
        position: relative;

        &::before {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &.facebook {
          @extend .icon-facebook;
          background: $social-facebook-color;

          &:hover {
            background: lighten($social-facebook-color, 10%);
          }
        }

        &.youtube {
          @extend .icon-youtube;
          background: $social-youtube-color;

          &:hover {
            background: lighten($social-youtube-color, 10%);
          }
        }

        &.googleplus {
          @extend .icon-googleplus;
          background: $social-googleplus-color;

          &:hover {
            background: lighten($social-googleplus-color, 10%);
          }
        }

        &.linkedin {
          @extend .icon-linkedin;
          background: $social-linkedin-color;

          &:hover {
            background: lighten($social-linkedin-color, 10%);
          }
        }

        &.vimeo {
          @extend .icon-vimeo;
          background: $social-vimeo-color;

          &:hover {
            background: lighten($social-vimeo-color, 10%);
          }
        }

        &.twitter {
          @extend .icon-twitter;
          background: $social-twitter-color;

          &:hover {
            background: lighten($social-twitter-color, 10%);
          }
        }

        &.pinterest {
          @extend .icon-pinterest;
          background: $social-pinterest-color;

          &:hover {
            background: lighten($social-pinterest-color, 10%);
          }
        }

        &.email {
          @extend .icon-envelope;
          background: $social-email-color;

          &:hover {
            background: lighten($social-email-color, 10%);
          }
        }
        // ... To be continued :D

      }
    }

  }

  .files {
    padding: 1em 0 0 0;

    .field-item:not(:last-child) {
      margin-bottom: .8em;
    }

    .file {

      // Hide original Drupal file icon
      .file-icon {
        display: none;
      }

      // Use custom font
      a {
        @extend %icon;
        display: flex;

        // Icon should come next to text at right.
        &::before {
          order: 2;
          padding-left: .5em;
        }

        &[type^="text/plain;"] {
          @extend .icon-file-text-o;
        }
      }

    }
  }

  .blog-media-file {
    margin: 1.5em auto;
    width: 80%;

    img {
      @extend .img-responsive;
      width: auto;
      margin: 0 auto;
      max-height: $blog-entry-big-media-max-height;
    }
  }

  // Responsive video frame
  .media-youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  .captcha {
    clear: both;
    display: block;
  }

}

.node-type-vactory-blog-entry {
  // !important markup, do not modify.
  #edit-facebook-user,
  .form-item-facebook-user,
  #comments .comment-user-picture {
    display: none;
  }

  // Modal Settings
  #vactory-blog--reply-form {
    .comment-form,
    div[id*="edit-comment-body"] {
      float: none;
    }
    .comment-user-picture {
      display: none;
    }

    form,
    div[class*="indented"] {
      float: none;
      margin: 0;
    }
  }

  .has-error [class*="cke_editor_edit-commen"] {
    border-color: $state-danger-input;
    border-width: 2px;
  }

  div[class*="indented"] {
    margin-left: 0;
  }

  .comment-section > div[class*="indented"] {
    margin-left: 25px;
  }

  .comment-section div[class*="depth-"]:not(.depth-0) {
    display: none;
  }

  .comment-section ul.links.inline {
    display: flex;
    flex-wrap: wrap;

    > li:not(last-child) {
      margin-right: .5em;
    }
  }


  .comment-show-more {
    clear: both;
    width: 30%;
    margin: 0 auto;
  }


}
