$vactory_cards_5s_width: floor(($grid-gutter-width / 4));

.view.block-5s .view-content > .row {
  @include row-make-equal-height();
//  margin-left: ceil(($grid-gutter-width / -4));
//  margin-right: floor(($grid-gutter-width / -4));
  justify-content: center;
//  margin-bottom: ($line-height-computed / 2);

  > div {
    width: calc(33.33333% - #{$vactory_cards_5s_width});
    flex: 0 0 calc(33.33333% - #{$vactory_cards_5s_width});
//    padding-left: floor(($grid-gutter-width / 4));
//    padding-right: ceil(($grid-gutter-width / 4));

    @media (max-width: $screen-xs-max) {
      width: 100% !important;
      flex-basis: 100% !important; // @todo: #browsers_check
    }

    > article {
      margin-bottom: $grid-gutter-width;
    }
  }
}
