.view.block-slider-large {

  // @todo: #browsers_check
  // This will lay out cards in a good way before slick loads up.
  //  .view-content > .row {
  //    @include row-make-equal-height();
  //  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    height: auto;

    @include if-ie() {
      flex-direction: column;
    }
  }

  .slick-arrow {
    @include breakpoint(xs) {
      display: none !important;
    }
  }

  .slick-list {
    @include breakpoint(xs) {
      margin: 0;
      padding-left:  floor(($grid-gutter-width / 2));
      padding-right: ceil(($grid-gutter-width / 2));
    }

    > div > div {
      margin-left:  ceil(($grid-gutter-width / 2) / 2);
      margin-right: floor(($grid-gutter-width / 2) / 2);
    }
  }

}