.slick-slide:focus {
  outline: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

//== Dots
ul.slick-dots {
  position: relative;
  bottom: auto;
  margin: ($line-height-computed + 10) auto;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.slick-dots li button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  border: 2px solid $gray-light;
  transition: border-color 0.3s ease;
  padding: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: $brand-primary;
  border-radius: 50%;
  box-shadow: 0 0 1px $brand-primary;
  opacity: 0;
  transform: scale(3);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button {
  border-color: $brand-primary;
}

.slick-dots li.slick-active button::after {
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

//== Arrows
.slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
  width: $slick-arrows-size;
  height: $slick-arrows-size;
  outline: none;
  background: transparent;
  transition: background .3s, color .3s, border .3s;

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 18px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 0;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: #FFF;
    background: $brand-primary;
    border-color: $brand-primary;
  }
}

//== Space for arrows.
.slick-list {
  margin: 0 ($slick-arrows-size + 20px);
}

.single-item .slick-list {
  margin: 0;
}

//== Adjust margin for inside-in components.
.slick-slider .slick-list article {
  margin-bottom: 0;
}
