
/**
 * Wysiwyg Templates scss rules
 *
 */
 // Variables
 $font-family-base          : $font-family-base;
 $font-family-base          : $font-family-base;
 $headings-font-family      : $headings-font-family;
 $brand-primary             : $brand-primary;

 $blocs-wysiwy-width        : (560px / 1160px) * 100%;

 // media
 $tablet-min                : 1024px;
 $tablet-max                : 1023px;
 $screen-iphone-max         : 479px;

 // scss rules
  img {
    width: auto;
  }
  /* tmp recupered styles
   *
   */
    .v-paly-video a.play-video1:hover,
    .v-paly-video a.play-video2:hover,
    .v-paly-video a.play-video3:hover,
    .v-paly-video a.play-video:hover,
    .v-paly-video1 a.play-video1:hover,
    .v-paly-video1 a.play-video2:hover,
    .v-paly-video1 a.play-video3:hover,
    .v-paly-video1 a.play-video:hover,
    .v-paly-video2 a.play-video1:hover,
    .v-paly-video2 a.play-video2:hover,
    .v-paly-video2 a.play-video3:hover,
    .v-paly-video2 a.play-video:hover,
    .v-paly-video3 a.play-video1:hover,
    .v-paly-video3 a.play-video2:hover,
    .v-paly-video3 a.play-video3:hover,
    .v-paly-video3 a.play-video:hover {
        color: #333
    }
    .v-paly-video blockquote.quote,
    .v-paly-video1 blockquote.quote,
    .v-paly-video2 blockquote.quote,
    .v-paly-video3 blockquote.quote {
        font-size: 2.1rem;
        margin: 88px 0 0;
        text-align: right
    }
    .v-paly-video blockquote.quote .pr-icon-quote,
    .v-paly-video1 blockquote.quote .pr-icon-quote,
    .v-paly-video2 blockquote.quote .pr-icon-quote,
    .v-paly-video3 blockquote.quote .pr-icon-quote {
        font-size: 5.5rem;
        position: absolute;
        top: -80px;
        right: 15px;
        color: #777
    }
    .v-paly-video blockquote.quote .blockquote-footer,
    .v-paly-video1 blockquote.quote .blockquote-footer,
    .v-paly-video2 blockquote.quote .blockquote-footer,
    .v-paly-video3 blockquote.quote .blockquote-footer {
        margin-top: 32px
    }

    /* block chiffre */
      .v-block-chiffre {
        text-align: center;
        .v-border {
          margin: 0 0 15px;
          padding: 22px 15px 15px; //15px;
          border: 1px solid #777;
          justify-content: center;
        }
        .v-border h3 {
          font-size: 4rem;
          margin: 0 0 15px
        }
      }
    /* block tags */
      .v-blocks-tags {
        text-align: justify;
        & + & {
          margin-top: 20px;
        }
        .v-tag {
            // margin: 0 0 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc
        }
        span {
            display: inline-block;
            padding: 7px 15px
        }
      }
    /* block icon */
      .v-blocks-icon {
        text-align: center;
        .v-border {
          &:first-child {
            &.v-border {
              border-left: 1px solid #777
            }
          }
          padding: 10px 0 5px;
          color: #777;
          border-right: 1px solid #777;
          background: #fff;
          @media (min-width: $screen-xs-min) {
            width: calc( ( 100% / 6 ));
          }
        }
        .v-border:hover {
          color: #fff;
          background: #777
        }
        a {
          display: inline-block;
          width: 100%;
          text-decoration: none;
          color: $gray-base;
        }
        .v-border-text {
          display: block;
          font-size: 1.8rem;
          margin-top: 15px;
        }
        img,
        .media {
          max-width: 24px;
          margin: auto;
        }
      }
  /* --------------------------- */
  /* block wysiwyg wrapper       */
  /* ---------------------------  */
  .wysiwyg-wrapper {
    //padding: 0 20px;
    &:not(.horizontal) {
      //@include pie-clearfix();
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .wysiwyg-content {
        text-align: center;
      }
    }
    img {
      width: auto;
      height: auto;
    }
    .title {
      margin-bottom: 21px;
      line-height: 30px;
      font-family: $headings-font-family;
      font-size: 28px;
      color: $gray-darker;
      text-transform: uppercase;
    }
    p {
      min-height: 112px;
      line-height: 28px;
      font-family: $font-family-base;
      font-size: 18px;
    }
    a {
      margin-top: 40px;
    }
    .element-invisible {
        display: none;
    }
  }
  .wysiwyg-content,
  .wysiwyg-cover {
    margin: auto;
  }
  .wysiwyg-cover {
    max-width: 560px;
  }
  .wysiwyg-content {
    z-index: 2;
    position: relative;
    margin-top: -54px;
    padding: 0 20px;
  }
  .wysiwyg-blocs {
    + .wysiwyg-blocs {
      margin-bottom: 40px;
    }
    position: relative;
    // @include pie-clearfix;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .wysiwyg-inner-content {
      border: 1px solid $gray-light;
      padding: 30px 40px;
      background-color: $gray-lighter;
    }
    .content > p,
    .content > div > br,
    figure br {
      display: none; // used to fix issue caused by empty p tags
    }
  }
  /* ------------------ */
  /* == Outils rules   */
  /* ------------------ */
  .va_tools{
    border: 1px solid $gray-dark;
    //margin-bottom: 45px;
    background-color: $gray-lighter;
    ~ p {
      display: none;
    }
    h2 {
      font-family: $headings-font-family;
      color: $gray-dark;
      margin-bottom: 2px;
    }
    .intro{
        padding-bottom: 48px;
        padding-top: 36px;
        text-align: center ;
    }
  }
  #tools-list{
    text-align: center;
    li{
        text-align: left;
        display: inline-block;
        vertical-align: top;
        width : 100%;
        max-width: 230px;
        margin-bottom: 40px;
        a {
          display: block;
          text-decoration: none;
        }
        i{
            display: inline-block;
            vertical-align: middle;
            max-width: 90px;
        }
        &:hover{
            img{
                transition: all .2s ease-out;
                transform:  scale(1) rotate(0.1deg);

            }
        }
        img{
            width: 100%;
            height: auto;
            font-size: 100px;
            color: $brand-primary;
            transition: all .2s ease-in;
            transform: scale(0.8);
            display: inline-block;
        }
        span{
          margin-top: 8px;
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          color: $gray-dark;
          text-transform: uppercase;
          font-family: $font-family-base;
          line-height: 20px;;
          letter-spacing: .4px;
        }
    }
  }
  // flexed-box => 2 blocks avec image rond, titre plus texte et button
  .flexed-box {
    .flexed-box-details,
    .media-wrapper-box {
      align-self: center;
    }
    .media-wrapper-box {
    .inner-media-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img,
        .media {
          align-self: center;
          border-radius: 50%;
        }
      }
    }
    .flexed-box-details {
      padding-top: 18px;
    }
    @media (min-width: $screen-md-min) {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 30px;
      .flexed-box-details.list-check {
        padding-top: 88px;//33px;
      }
    }
  }
  // Media min
  @media (min-width: $screen-sm-min) {
    .va_tools {
      h2 {
        margin-bottom: 0;
        font-size: 24px;
      }
    }
  }
  @media (min-width: $tablet-min) {
    .wysiwyg-wrapper {
      &:not(.horizontal) {
        //@include pie-clearfix();
        .wysiwyg-blocs {
          float: left;
          width: $blocs-wysiwy-width;
          + .wysiwyg-blocs {
            float: right;
          }
        }
        .title {
          min-height: 90px;
        }
      }
    }
    .wysiwyg-wrapper {
      &:not(.horizontal) {
        .wysiwyg-blocs {
          .wysiwyg-inner-content {
            min-height: 410px;
          }
        }
      }
    }
    .wysiwyg-blocs {
      .horizontal & {
        .wysiwyg-cover {
          float: left;
          max-width: 675px;
        }
        .wysiwyg-content {
          right: 0;
        }
        .wysiwyg-cover {
          width: (675px / 1160px) * 100%;
        }
        .wysiwyg-content {
          position: absolute;
          top: 50%;
          margin: 0;
          padding: 0;
          width: (673px / 1160px) * 100%;
          transform: translateY(-50%);
        }
        .wysiwyg-inner-content {
              padding: 30px 40px;
        }
      }
      .horizontal &.right {
        .wysiwyg-cover {
          float: right;
        }
        .wysiwyg-content {
          right: auto; left: 0;
          text-align: right;
        }
      }
    }
    .wysiwyg-blocs,
    #videotheque-section {
      margin-bottom: 40px;
    }
  }
  @media (min-width: $screen-lg-min) {
    .wysiwyg-wrapper:not(.horizontal) .wysiwyg-blocs .wysiwyg-inner-content {
      min-height: 382px;
    }
    //.horizontal .wysiwyg-blocs .wysiwyg-inner-content {
      //padding: 60px 80px;
    //}
  }
  // Media max
  @media (max-width: $tablet-min) {
    //wysiwyg-blocs
    .wysiwyg-blocs {
      text-align: center;
      + .wysiwyg-blocs {
        margin-top: -40px;
      }
    }
    .wysiwyg-cover {
      max-width: 542px;
    }
    .wysiwyg-content {
      margin-top: -40px;
      max-width: 542px;
    }
    .va_tools {
      margin-bottom: 0;
      .intro p{
        text-align: center;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .v-blocks-icon .v-border {
      border-left: 1px solid #777;
    }
  }
  @media (max-width: $screen-xs-max) {
    #tools-list {
      text-align: left;
      li{
        display: block;
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
        img {
          width: auto;
          height: 35px;
        }
        img, img:hover {
          transform: none;
        }
        span {
          width: calc(100% - 40px);
          padding-left: 12px;
          br {
            display: none;
          }
        }
      }
    }
    .va_tools{
      margin: auto;
      width: calc(100% - 40px);
      .small-wrapper{
        max-width: 400px;
      }
    }
  }
  @media (max-width: $screen-iphone-max) {
    .wysiwyg-blocs .wysiwyg-inner-content {
      padding: 25px 20px;
    }
    .wysiwyg-wrapper .title {
      margin-top: 0;
      line-height: 25px;
      font-size: 19px;
    }
    .wysiwyg-wrapper p {
      min-height: 0;
      line-height: 17px;
      font-size: 14px;
    }
    .wysiwyg-wrapper a {
      margin-top: 14px;
    }
    #tools-list li {
      width: 100%;
      text-align: left;
        span {
          margin-top: 1px;
          font-size: 14px;
          line-height: 16px;
        }
    }
    .va_tools{
      padding: 0 20px 25px;
        .intro {
          padding-bottom: 20px;
        }
        .small-wrapper{
            max-width: 300px;
        }
    }
  }
// Social Media Links
  .social-media-wrapper {
    p + & {
      margin-top: 28px;
    }
  }
  .social-media-items {
    padding-left: 0;
    list-style-type: none;
    .social-media-item {
      display: inline-block;
      list-style: none;
      margin: 0 .1em;
      a {
        border: 1px solid transparent;
        padding: 5px;
        background: $gray-base;
        width: 28px;
        text-align: center;
        display: block;
        transition: all .3s ease-in;
        cursor: pointer;
        &:hover {
          border: 1px solid $gray-dark;
          background-color: $gray-lighter;
          transition: all .3s ease-out;
          text-decoration: none;
          i {
            color: $gray-base;
            transition: color .3s ease-out;
          }
        }
      }
      i {
        font-size: $font-size-small;
        color: $gray-lighter;
        transition: color .3s ease-in;
      }
    }
  }

// Blockquote
  // helper
  %blockquote,
  .quote {
    border-left: 0;
    &:before {
      @extend %icon, .icon-quote-left;
      font-size: $font-size-h2;
      color: $gray-light;
    }
    .blockquote-footer {
      font-weight: $font-weight-semi-bold;
      color: $gray-base;
    }
  }
  // quote wrapper
  .quote-wrapper {
    @include clearfix();
    > img,
    > .media {
      margin-bottom: 28px;
      max-width: 70px;
    }
    img,
    > .media.media-default {
      float: left;
    }
    .quote {
      overflow: hidden;
      padding-top: 0;
    }
    @media (min-width: $screen-xs-min) {
      > img,
      > .media {
        margin-bottom: 0;
        max-width: 100px;
      }
    }
  }
/* block temoignage */
  .v-block-temoignage {
    img {
      margin: auto;
    }
    blockquote.quote {
      font-size: 17.5px;
      position: relative;
      margin: 0;
    }
    a.btn {
      margin: 16px 0 0;
    }
    @media (min-width: $screen-sm-min) {
       h3 {
        margin: 0 0 25px
      }
      blockquote.quote {
        margin: 0;
        padding-left: 0;
      }
    }
  }
// Téléchargement
  .v-download-links {
    .data-list-links {
      dt, dd {
        display: inline-block;
      }
      dd {
        margin-left: 20px;
      }
    }
  }
  .v-download-links,
  .v-download-details {
    a {
      display: inline-block;
      position: relative;
      color: $brand-primary;
      padding-right: ($font-size-base * 2);
      font-weight: $font-weight-semi-bold;
      cursor: pointer;
      @include when-rtl() {
        padding-right: 0;
        padding-left: ($font-size-base * 2);
      }
      &:before {
        @extend %icon, .icon-cloud_download;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: $font-size-base + 10;
        @include when-rtl() {
          right: auto;
          left: 0;
        }
      }
    }
  }
// Téléchargement avec image
  .v-download-wapper {
    > img,
    > .media {
      margin-bottom: 28px;
    }
    img,
    > .media.media-default {
      float: left;
    }
    .v-download-details {
      overflow: hidden;
      padding-left: 26px;
    }
  }
// Encadré
  .encadre {
    .box-wrapper {
      div > img,
      div > .media {
        margin: 0 auto 28px;
        max-width: 100px;
      }
      @media (min-width: $screen-xs-min) {
        div > img,
        div > .media {
          float: left;
          margin: 0;
          max-width: 136px;
        }
        .box-info-details {
          overflow: hidden;
          padding-left: 26px;
        }
      }
    }
  }
// link-list
  .link-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
    li {
      border: 1px solid;
      transition: all .3s ease-in;
      + li {
        margin-top: 20px;
      }
      a {
        display: block;
      }
      > div {
        padding: 20px;
        cursor: pointer;
        height: 100%;
        transition: all .3s ease-out;
        &:hover {
          background-color: $gray-dark;
          color: $gray-lighter;
          text-decoration: none;
          transition: all .3s ease-in;
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      li {
        border: 1px solid;
        transition: all .3s ease-in;
        + li {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }
