// @component
// sites/all/modules/custom/vactory_newsletter_mailchimp/scss/_newsletter.scss
// Newsletter
// -----------------------------------------------------------------------------

.block-mailchimp-signup {

  .mailchimp-signup-subscribe-form {
    float: none;
    max-width: none;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-group,
    .form-item,
    .form-actions {
      margin: 0;
      padding: 0;
    }

    .form-text {
      min-width: 300px;

      @include breakpoint(xs) {
        min-width: 150px;
      }
    }

    .form-actions .btn {
      margin-left: 15px;

      @include when-rtl() {
        margin-left: 0;
        margin-right: 15px;
      }

      @include breakpoint(xs) {
        margin-bottom: 0;
      }
    }

  }
}

// Center block.
.background.newsletter > div > div > .paragraphs-items {
  padding: 60px 0 80px 0;
  max-width: 50%;
  margin: 0 auto;

  @include breakpoint(xs) {
    @include container-fixed();
    max-width: none;

    padding-bottom: 40px;
    padding-top: 30px;
  }

  .form-submit {
    width: auto;
  }

}
