/* Variables */
$search-overlay--bg: rgba(0, 0, 0, 0.8) !default;
$search-overlay--color: #eaba82 !default;
$search-overlay--close-color: #deb17d !default;
$search-overlay--placeholder: rgba(234, 186, 130, 0.74) !default;

/* Layout for search container */
.search-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
  }

}

.js .search-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.js .search-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $search-overlay--bg;
}

.btn--search-close {
  font-size: 2em;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  display: none;
  color: $search-overlay--close-color;

  &:hover, &:focus {
    color: $search-overlay--close-color;
  }
}

.js .btn--search-close {
  display: block;
}

.search__form {
  margin: 5em 0;
}

.search__input {
  font-family: inherit;
  font-size: 10vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding: 0.05em 0;
  color: $search-overlay--color;
  border: 0;
  border-bottom: 5px solid;
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
}

.search__input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $search-overlay--placeholder;
}

.search__input::-moz-placeholder {
  opacity: 1;
  /* Mozilla Firefox 19+ */
  color: $search-overlay--placeholder;
}

.search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $search-overlay--placeholder;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search__input::-ms-clear {
  display: none;
}

.search__info {
  font-size: 90%;
  font-weight: bold;
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: right;
  color: $search-overlay--color;
}

.search__related {
  display: flex;
  width: 75%;
  text-align: left;
  //pointer-events: none;
  color: #cecae0;
}

.search__suggestion {
  width: 50%;
}

.search__suggestion:first-child {
  padding: 0 2em 0 0;
}

.search__suggestion:last-child {
  padding: 0 0 0 2em;
}

.search__suggestion h3 {
  font-size: 1.35em;
  margin: 0;
}

.search__suggestion h3::before {
  content: '\21FE';
  display: inline-block;
  padding: 0 0.5em 0 0;
}

.search__suggestion p {
  font-size: 1.15em;
  line-height: 1.4;
  margin: 0.75em 0 0 0;
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap {
  position: relative;
  transition: transform 0.5s;
  width: 100%;
  height: 100vh;
}

.js .main-wrap--move {
  //transform: scale3d(0.7, 0.7, 1);
}

.js .main-wrap--move .btn--search {
  pointer-events: none;
  opacity: 0;
}

.js .search-overlay {
  pointer-events: none;
}

.js .search--open {
  pointer-events: auto;
}

.js .search-overlay::before {
  opacity: 0;
  transition: opacity 0.5s;
}

.js .search--open::before {
  opacity: 1;
}

/* Close button */
.btn--search-close {
  opacity: 0;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.search--open .btn--search-close {
  opacity: 1;
}

/* Search form with input and description */

.search__suggestion,
.search__info {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: opacity 0.4s, transform 0.4s;
}

.search--open .search__suggestion,
.search--open .search__info {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.search--open .search__suggestion:first-child {
  transition-delay: 0.15s;
}

.search--open .search__suggestion:nth-child(2) {
  transition-delay: 0.2s;
}

.js .search__input {
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.3s;

  &:focus {
    outline: 0;
  }
}

.js .search--open .search__input {
  transform: scale3d(1, 1, 1);
  transition-duration: 0.5s;
}

@media screen and (max-width: $screen-sm) {
  .btn--search-close {
    font-size: 1.25em;
  }
  .search__suggestion {
    font-size: 80%;
    width: 100%;
  }
  .search__suggestion:nth-child(2),
  .search__suggestion:nth-child(3) {
    display: none;
  }
}