// Timeline

// Mixins and Placeholders
%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

// Variables

$timeline-color: #ced4da;

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#timeline {
	line-height: 1.5em;
	font-size: 14px;
	width: 90%;
	margin: 80px auto;
	position: relative;

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		left: 50%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
    &.horisontal:after{
      display: none;
    }
	.timeline-item {
		margin-bottom: 50px;
		position: relative;
        padding-bottom: 3em;
        clear: both;
		@extend %clearfix;

		.timeline-icon {
			background: $timeline-color;
			width: 14px;
			height: 14px;
			position: absolute;
			top: 0;
			left: 50%;
			overflow: hidden;
			margin-left: -5px;
			@include prefix(border-radius, 50%);
		}

        .date-wrapper {
          font-weight: bold;
          font-size: 30px;
          letter-spacing: 2px;
          color: #5e6977;
          width: 50%;
          text-align: right;
          padding-right: 35px;
          margin-top: -2px;
          &.left {
            float: right;
            text-align: left;
            padding-left: 56px;
          }
        }
		.timeline-content {
			width: 46%;
            margin-top: -3em;
            color: #868e96;
            font-size: 22px;
            text-align: right;
            clear: both;
            float: left;
            img {
              max-width: 100%;
              display: inline-block;
            }
			h2 {
                color: #343a40;
                font-size: 28px;
                font-weight: bold;
				margin-left: 0;
                padding-left: 0px;
                padding-bottom: 8px;
            }
            .image-wrapper {
              margin-bottom: 29px;
            }
            .timeline-cta {
              color: #fff;
              font-size: 24px;
              font-weight: bold;
              border-radius: 25px;
              background: #5e6977;
              line-height: 54px;
              width: 231px;
              min-height: 55px;
              text-align: center;
              margin-top: 26px;
              display: inline-block;
              a {
                &:hover {
                  text-decoration: none;
                }
                color: #fff;
              }
            }
			&.right {
				float: right;
                text-align: left;
			}
		}
	}
  &.horisontal {
    overflow-y: auto;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    &:before {
      content: ' ';
      background-color: $timeline-color;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0px;
      top: 50%
    }
    .timeline-item {
      clear: none;
      display: table-cell;

      .timeline-icon {
        top: 50%;
        margin-top: -6px;
      }
      &:nth-child(2n) {
        padding-top: 50%;
        vertical-align: top;
        .bottom-date{
          display: none;
        }
        .top-date{
          margin-top: 0px;
        }
        .top-timeline-icon {

        }
        .bottom-timeline-icon {
          display: none;
        }
      }
      &:nth-child(2n+1) {
        vertical-align: bottom;
        padding-bottom: 50%;
        .top-date{
          display: none;
        }
        .bottom-date{
          margin-bottom: 0px;
        }
        .top-timeline-icon {
          display: none;
        }
      }
      .timeline-content {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 0px;
      }
      .date-wrapper {
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0;
		&:before {
			left: 0;
		}
      &.horisontal {
        padding-top: 20px;
        &:before {
          top: 10px;
        }
        .timeline-item {
          &:nth-child(2n+1) {
            vertical-align: top;
            padding-bottom: 0px;
            padding-top: 20px;
            .top-timeline-icon {
              display: block;
            }
            .bo-timeline-icon-timeline-icon {
              display: none;
            }
          }
          &:nth-child(2n) {
            vertical-align: top;
            padding-top: 20px;
            .top-timeline-icon {
              display: block;
            }
            .bo-timeline-icon-timeline-icon {
              display: none;
            }
          }

          .top-timeline-icon {
            display: block;
            margin-top: -16px;
          }
          .bottom-timeline-icon {
            display: none;
          }
          .timeline-icon {
            top: 0;
          }
          .top-date{
            display: block;
          }
          .bottom-date{
           display: none;
          }
        }
      }
      &.vertical .timeline-item .timeline-icon {
        left: 0;
      }
      .timeline-item {
            padding-left: 2em;
          .date-wrapper {
            float: none;
            text-align: left;
            &.left {
              float: none;
              text-align: left;
              padding-left: 0px;
            }
          }
			.timeline-content {
              margin-top: 10px;
				width: 90%;
				float: none;
              text-align: left;
              &.right {
                float: none;
              }


				&:before, &.right:before {
					left: 10%;
					margin-left: -6px;
					border-left: 0;
					border-right: 7px solid $timeline-color;
				}
			}
		}
	}
}